table {
    width: 100%;
    border-collapse: collapse;
}

th {
	width: 100%;
	text-align: left;
	border-bottom: 2px solid grey;
}

tr {
	height: 40px;
}

tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

td {
	width: 100%;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-collapse: collapse;
}