<p-growl 
    [value]="growlMsgs" 
    [sticky]="growlSticky" 
    [life]="growlLife">
</p-growl>



<button type="button" (click)="testFn()">testFn</button>

<div class="menubar">
    <p-menubar [model]="menuItems"> </p-menubar>
</div>


<div class="router-outlet">
    <router-outlet 
        (formSubmit)="handleFormSubmit($event)">
    </router-outlet>
</div>
 
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>


<p-dialog header="Login" 
    [(visible)]="displayLoginForm" 
    modal="modal" 
    width="450" 
    responsive="true"
    >

    <login 
        (formSubmit)="handleFormSubmit($event)" 
        >
        Loading Login form ...
    </login>

</p-dialog>


<p-dialog header="Who am I" 
    [(visible)]="displayWhoAmIForm" 
    modal="modal" 
    width="450" 
    responsive="true"
    >

    <whoami 
        [displayWhoAmIForm]="displayWhoAmIForm"
        (handleWhoAmISubmit)="handleWhoAmISubmit($event)" 
        >
        Loading Who Am I form ...
    </whoami>

</p-dialog>



<p-dialog header="New Message" 
    [(visible)]="displayNewMessage" 
    modal="modal" 
    width="610" 
    responsive="true"
    >

    <newmessage 
        [availableUsers]="availableUsers"
        [sendToTheseUsers]="sendToTheseUsers"
        [nrUnReadMessagesForMe]="nrUnReadMessagesForMe"
        (formNewMessageSubmit)="handleCanvasMessageFormSubmit($event)" 
        >
        Loading New Message form ...
    </newmessage>

</p-dialog>

