<!--Palette Container-->
<div 
    class="paletteContainer"
    >
    
    <!--Dashboard Heading-->
    <div
        class="dashboardHeading"
        >
        Dashboard Editor
        <span
            class="filteredQuantity"
            [style.color]="dashboardDropDown.length == dashboards.length ? 'black' : 'orange'"
            >
            {{ dashboardDropDown.length }} / {{ dashboards.length }}
        </span>
    </div>         <!--END Dashboard Heading-->
 
    <!--Dashboard Filters and Buttons-->
    <div
        class="dashboardFilter"
        >
        <p-dropdown 
            [options]="dashboardDropDown" 
            [(ngModel)]="selectedDashboardName"
            inputId="1" 
            [style]="{
                        'autofocus':'true',
                        'background-color':'538cc6',
                        'border':'1px solid #204060',
                        'border-radius':'2px',
                        'font-size':'0.85em',
                        'margin-bottom':'4px',
                        'margin-left':'4px',
                        'padding':'0',
                        'width':'197px'
                    }" 
            placeholder="Dashboard to open"
            filter="true"
            (onChange)="loadDashboardTabs($event)"
            >
        </p-dropdown>
        
        <span
            class="actionLabel"
            >
            Actions:
        </span>
        
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-filter"
            pTooltip="Advanced filter to select Dashboards from" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            [style.background-color] = "hasAdvancedFilter ? 'orange' : 'white'"
            (click)="dashboardAdvanceFilter()"
            >
        </button>
        
        <button 
            class="paletteButton"
            pButton 
            type="button" 
            icon="fa-newspaper-o"
            pTooltip="Show the detail of the Dashboard selected above" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onDashboardDetail($event)"
            >
        </button>

        <button 
            class="paletteButton"
            pButton 
            type="submit" 
            icon="fa-plus"
            pTooltip="Add a new Dashboard" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onDashboardAdd()"
            >
        </button>

        <button 
            class="paletteButton"
            pButton 
            type="button" 
            icon="fa-minus"
            pTooltip="Delete the Dashboard selected above"
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onDashboardDelete()"
            >
        </button>

    </div>         <!--END Dashboard Filters and Buttons-->


    <!--Tab DropDown-->
    <div class="tabDiv">
        <p-dropdown 
            [options]="dashboardTabsDropDown" 
            [(ngModel)]="selectedTabName"
            inputId="S2" 
            [style]="{
                        'autofocus':'true',
                        'background-color':'538cc6',
                        'border':'1px solid #204060',
                        'border-radius':'2px',
                        'font-size':'0.85em',
                        'margin-bottom':'4px',
                        'margin-left':'2px',
                        'margin-top':'2px',
                        'padding':'0',
                        'width':'197px'
                    }" 
            placeholder="Tab to open"
            filter="true"
            (onChange)="loadDashboard($event)"
            >
        </p-dropdown>  
        
        <span
            class="actionLabel"
            >
            Tab Actions:
        </span>

        <!--Edit Tab button-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-edit"
            pTooltip="Edit properties for the selected Tab" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="detailTab()"
            >
        </button> 

        <!--Add Tab button-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-plus-square-o"
            pTooltip="Add a new Tab to this Dashboard" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="addNewTab()"
            >
        </button> 
        
        <!--Delete Tab button-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-minus-square-o"
            pTooltip="Delete a Tab from this Dashboard" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="deleteTab()"
            >
        </button> 

    </div>          <!-- END Tab DropDown-->


    <!--Widget Heading-->
    <div
        class="widgetHeading"
        >
        Widgets
    </div>         <!--END Widget Heading-->

    <!--Div for New Widget and Widget formatting buttons-->
    <div>

        <!--Add a new Widget-->
        <button 
            class="widgetAddNewWidgetButton"
            pButton 
            type="button" 
            icon="fa-bar-chart"
            pTooltip="Drag onto the open canvas to create a new Widget"
            tooltipPosition="right" 
            tooltipEvent="hover"
            pDraggable="barChart"
            (onDragEnd)="onDragEndNewWidget($event)"
            >
        </button>        
        
        <!--Align Widgets to left-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-align-left"
            pTooltip="Left align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('left')"
            >
        </button> 
        
        <!--Align Widgets to center (horisontally)-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-align-center"
            pTooltip="Center align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('center')"
            >
        </button> 
        
        <!--Align Widgets to right-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-align-right"
            pTooltip="Right align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('right')"
            >
        </button> 

        <!--Equal horisontal distance between Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-arrows-h"
            pTooltip="Set horisontal equal distance between centers of the selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('horisontalEquiDistant')"
            >
        </button> 
        
        <!--Increase horisontal distance between Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-long-arrow-right"
            pTooltip="Increase horisontal distance between selected widgets (shift-click) by 3px" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('horisontalIncreaseDistance')"
            >
        </button> 
        
        <!--Decrease horisontal distance between Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-long-arrow-left"
            pTooltip="Decrease horisontal distance between selected widgets (shift-click) by 3px" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('horisontalDecreaseDistance')"
            >
        </button> 
       
        <!--Align Widgets to top-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-chevron-up"
            pTooltip="Top align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('top')"
            >
        </button> 
        
        <!--Align Widgets to middle (vertically)-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-crosshairs"
            pTooltip="Middle (horisontally) align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('middle')"
            >
        </button> 
        
        <!--Align Widgets to bottom-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-chevron-down"
            pTooltip="Bottom align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('bottom')"
            >
        </button> 
        
        <!--Equal vertical distance between Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-arrows-v"
            pTooltip="Set vertical equal distance between middles of selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('verticalEquiDistant')"
            >
        </button> 
        
        <!--Increase vertical distance between Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-long-arrow-up"
            pTooltip="Increase vertical distance between selected widgets (shift-click) by 3px" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('verticalIncreaseDistance')"
            >
        </button> 
        
        <!--Decrease vertical distance between Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-long-arrow-down"
            pTooltip="Decrease vertical distance between selected widgets (shift-click) by 3px" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('verticalDecreaseDistance')"
            >
        </button> 
        
        <!--Same width for selected Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-exchange"
            pTooltip="Set the same width for selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('sameWidth')"
            >
        </button> 
        
        <!--Increment width for selected Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-arrow-right"
            pTooltip="Increment width for selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('incrementWidth')"
            >
        </button> 
        
        <!--Decrement width for selected Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-arrow-left"
            pTooltip="Decrement width for selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('decrementWidth')"
            >
        </button> 
        
        <!--Same height for selected Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-expand"
            pTooltip="Same height for selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('sameHeight')"
            >
        </button> 
        
        <!--Increment height for selected Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-arrow-up"
            pTooltip="Increment height for selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('incrementHeight')"
            >
        </button> 
        
        <!--Decrement height for selected Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-arrow-down"
            pTooltip="Decrement height for selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('decrementHeight')"
            >
        </button> 

        <!--Toggle to select all the Widgets-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-check-square-o"
            pTooltip="Select all Widgets" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetSelectAll()"
            >
        </button> 
        
        <!--Toggle Widget color in headers to dark or not-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-sun-o"
            pTooltip="Toggle Widget header buttons between dark and light" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onclickContainerHeaderDark()"
            >
        </button> 
        
        <!--Copy Widget-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-copy"
            pTooltip="Copy selected Widgets" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="copyWidget()"
            >
        </button> 
        
        <!--Bring Widget to Front-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-paper-plane-o"
            pTooltip="Bring selected Widgets to front" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="bringWidgetToFront()"
            >
        </button> 
        
        <!--Show Dashboard Settings form-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-gear"
            pTooltip="Expand the Dashboard Settings info" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onClickExpandArea('displayExpandDashboardSettings')"
            >
        </button> 

        <!--Buttons to toggle Snap to Grid-->
        <button
            class="paletteButton"
            *ngIf="snapToGrid"
            pButton
            type="button"
            icon="fa-minus"
            pTooltip="Click to remove Snap to grid" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="snapToGrid=false"
            >
        </button> 
        <button
            class="paletteButton"
            *ngIf="!snapToGrid"
            pButton
            type="button"
            icon="fa-th"
            pTooltip="Click to Snap to grid"
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="snapToGrid=true"
            >
        </button>         

        <!--Button to toggle Show Widget Headers-->
        <button
            class="paletteButton"
            *ngIf="showContainerHeader"
            pButton
            type="button"
            icon="fa-minus"
            pTooltip="Click to hide Widget Headers" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onclickShowContainerHeader()"
            >
        </button> 
        <button
            class="paletteButton"
            *ngIf="!showContainerHeader"
            pButton
            type="button"
            icon="fa-header"
            pTooltip="Click to show Widget headers"
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onclickShowContainerHeader()"
            >
        </button>     

        <!--Button to Expand Background Color Area-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-square"
            pTooltip="Expand the background color info" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onClickExpandArea('displayExpandBackgroundArea')"
            >
        </button> 

        <!--Button to Expand Border Area-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-square-o"
            pTooltip="Expand the area for border info" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onClickExpandArea('displayExpandBorder')"
            >
        </button> 

        <!--Button to Expand Box Shadow Area-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-laptop"
            pTooltip="Expand the box shadow info" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onClickExpandArea('displayExpandBoxShadow')"
            >
        </button> 

        <!--Button to Expand Text Color Area-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-tumblr-square"
            pTooltip="Expand the text color info" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onClickExpandArea('displayExpandColor')"
            >
        </button> 

        <!--Button to Expand Font Size Area-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-text-height"
            pTooltip="Expand the font size info" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onClickExpandArea('displayExpandFontSize')"
            >
        </button> 

        <!--Button to Expand Grid Size Area-->
        <button
            class="paletteButton"
            pButton
            type="button"
            icon="fa-flash"
            pTooltip="Expand the grid size info" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onClickExpandArea('displayExpandGridSize')"
            >
        </button> 


        <!--Expand Background Info-->
            <div
                *ngIf="displayExpandBackgroundArea"
                >
                <div
                    class="widgetNrSelected"
                    *ngIf="selectedWidgetIDs.length > 0"
                    >
                    Nr Widgets selected: {{ selectedWidgetIDs.length }}
                </div>

                <div
                    class="actionLabel"
                    >
                    Background Color
                </div>

                <p-dropdown
                    [style]="{
                                'autofocus':'true',
                                'background-color':'538cc6',
                                'border':'1px solid #204060',
                                'border-radius':'2px',
                                'font-size':'0.85em',
                                'margin-bottom':'4px',
                                'margin-left':'4px',
                                'padding':'0',
                                'width':'197px'
                            }" 
                    [options]="chartColor" 
                    [(ngModel)]="selectedBackgroundColor" 
                    placeholder=""
                    filter="true"
                    (onChange)="onSelectBackgroundColor()"
                    >
                </p-dropdown>
                <div>
        
                    <button 
                        class="paletteButtonWithLabel"
                        [style.background-color]="sampleColorWidgetBackgroundColor"
                        pButton 
                        type="button" 
                        label="Sample"
                        pTooltip="Sample of color selected" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="clickContainerApply()"
                        > 
                    </button>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-cube"
                        pTooltip="Apply the styling to the selected Containters" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="clickContainerApply()"
                        > 
                    </button>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-close"
                        pTooltip="Close area for background info" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="displayExpandBackgroundArea=false"
                        > 
                    </button>
                </div>
                
            </div>
        <!--END Expand Background Info-->

        <!--Expand Border Info-->
            <div
                *ngIf="displayExpandBorder"
                >
                <div
                    class="widgetNrSelected"
                    *ngIf="selectedWidgetIDs.length > 0"
                    >
                    Nr Widgets selected: {{ selectedWidgetIDs.length }}
                </div>

                <div
                    class="actionLabel"
                    >
                    Border
                </div>

                <p-dropdown
                    [style]="{
                                'autofocus':'true',
                                'background-color':'538cc6',
                                'border':'1px solid #204060',
                                'border-radius':'2px',
                                'font-size':'0.85em',
                                'margin-bottom':'4px',
                                'margin-left':'4px',
                                'padding':'0',
                                'width':'197px'
                            }" 
                    [options]="borderOptions" 
                    [(ngModel)]="selectedBorder" 
                    placeholder=""
                    filter="true"
                    >
                </p-dropdown>
                <div>
        
                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-cube"
                        pTooltip="Apply the styling to the selected Containters" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="clickContainerApply()"
                        > 
                    </button>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-close"
                        pTooltip="Close area for border info" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="displayExpandBorder=false"
                        > 
                    </button>
                </div>
                
            </div>
        <!--END Expand Border Info-->

        <!--Expand BoxShadow Info-->
            <div
                *ngIf="displayExpandBoxShadow"
                >
                <div
                    class="widgetNrSelected"
                    *ngIf="selectedWidgetIDs.length > 0"
                    >
                    Nr Widgets selected: {{ selectedWidgetIDs.length }}
                </div>

                <div
                    class="actionLabel"
                    >
                    Box Shadow
                </div>
                    <!--[options]="" 
                    [(ngModel)]="" -->

                <p-dropdown
                    [style]="{
                                'autofocus':'true',
                                'background-color':'538cc6',
                                'border':'1px solid #204060',
                                'border-radius':'2px',
                                'font-size':'0.85em',
                                'margin-bottom':'4px',
                                'margin-left':'4px',
                                'padding':'0',
                                'width':'197px'
                            }" 
                    [options]="boxShadowOptions" 
                    [(ngModel)]="selectedBoxShadow" 
                    placeholder=""
                    filter="true"
                    >
                </p-dropdown>
                <div>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-cube"
                        pTooltip="Apply the styling to the selected Containters" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="clickContainerApply()"
                        > 
                    </button>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-close"
                        pTooltip="Close area for box shadow info" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="displayExpandBoxShadow=false"
                        > 
                    </button>
                </div>
                
            </div>
        <!--END Expand BoxShadow Info-->

        <!--Expand Color Info-->
            <div
                *ngIf="displayExpandColor"
                >
                <div
                    class="widgetNrSelected"
                    *ngIf="selectedWidgetIDs.length > 0"
                    >
                    Nr Widgets selected: {{ selectedWidgetIDs.length }}
                </div>

                <div
                    class="actionLabel"
                    >
                    Text Color
                </div>

                <p-dropdown
                    [style]="{
                                'autofocus':'true',
                                'background-color':'538cc6',
                                'border':'1px solid #204060',
                                'border-radius':'2px',
                                'font-size':'0.85em',
                                'margin-bottom':'4px',
                                'margin-left':'4px',
                                'padding':'0',
                                'width':'197px'
                            }" 
                    [options]="chartColor" 
                    [(ngModel)]="selectedColor" 
                    placeholder=""
                    filter="true"
                    (onChange)="onSelectBackgroundColor()"
                    >
                </p-dropdown>
                <div>
        
                    <button 
                        class="paletteButtonWithLabel"
                        [style.background-color]="sampleColorWidgetBackgroundColor"
                        pButton 
                        type="button" 
                        label="Sample"
                        pTooltip="Sample of color selected" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="clickContainerApply()"
                        > 
                    </button>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-cube"
                        pTooltip="Apply the styling to the selected Containters" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="clickContainerApply()"
                        > 
                    </button>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-close"
                        pTooltip="Close area for text color info" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="displayExpandColor=false"
                        > 
                    </button>
                </div>
                
            </div>
        <!--END Expand Color Info-->

        <!--Expand FontSize Info-->
            <div
                *ngIf="displayExpandFontSize"
                >
                <div
                    class="widgetNrSelected"
                    *ngIf="selectedWidgetIDs.length > 0"
                    >
                    Nr Widgets selected: {{ selectedWidgetIDs.length }}
                </div>

                <div
                    class="actionLabel"
                    >
                    Font Size
                </div>

                <p-dropdown
                    [style]="{
                                'autofocus':'true',
                                'background-color':'538cc6',
                                'border':'1px solid #204060',
                                'border-radius':'2px',
                                'font-size':'0.85em',
                                'margin-bottom':'4px',
                                'margin-left':'4px',
                                'padding':'0',
                                'width':'197px'
                            }" 
                    [options]="fontSizeOptions" 
                    [(ngModel)]="selectedContainerFontSize" 
                    placeholder=""
                    filter="true"
                    >
                </p-dropdown>
                <div>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-cube"
                        pTooltip="Apply the styling to the selected Containters" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="clickContainerApply()"
                        > 
                    </button>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-close"
                        pTooltip="Close area for font size info" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="displayExpandFontSize=false"
                        > 
                    </button>
                </div>
                
            </div>
        <!--END Expand FontSize Info-->

        <!--Expand Grid Size Info-->
            <div
                *ngIf="displayExpandGridSize"
                >
                <div
                    class="widgetNrSelected"
                    *ngIf="selectedWidgetIDs.length > 0"
                    >
                    Nr Widgets selected: {{ selectedWidgetIDs.length }}
                </div>

                <div
                    class="actionLabel"
                    >
                    Grid Size
                </div>

                <p-dropdown
                    [style]="{
                                'autofocus':'true',
                                'background-color':'538cc6',
                                'border':'1px solid #204060',
                                'border-radius':'2px',
                                'font-size':'0.85em',
                                'margin-bottom':'4px',
                                'margin-left':'4px',
                                'padding':'0',
                                'width':'197px'
                            }" 
                    [options]="gridSizeOptions" 
                    [(ngModel)]="selectedContainerGridSize" 
                    placeholder=""
                    filter="true"
                    >
                </p-dropdown>
                <div>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-cube"
                        pTooltip="Apply the styling to the selected Containters" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="clickContainerApply()"
                        > 
                    </button>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-close"
                        pTooltip="Close area for grid size info" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="displayExpandGridSize=false"
                        > 
                    </button>
                </div>
                
            </div>
        <!--END Expand Grid Size Info-->

        <!--Expand Dashboard Settings Info-->
            <div
                *ngIf="displayExpandDashboardSettings"
                >

                <div
                    class="actionLabel"
                    >
                    Background Color
                </div>

                <p-dropdown
                    [style]="{
                                'autofocus':'true',
                                'background-color':'538cc6',
                                'border':'1px solid #204060',
                                'border-radius':'2px',
                                'font-size':'0.85em',
                                'margin-bottom':'4px',
                                'margin-left':'4px',
                                'padding':'0',
                                'width':'197px'
                            }" 
                    [options]="chartColor" 
                    [(ngModel)]="selectedBackgroundColorDashboard" 
                    placeholder="Background Color"
                    filter="true"
                    >
                </p-dropdown>

                <div
                    class="actionLabel"
                    >
                    Background Image
                </div>

                <p-dropdown
                    [style]="{
                                'autofocus':'true',
                                'background-color':'538cc6',
                                'border':'1px solid #204060',
                                'border-radius':'2px',
                                'font-size':'0.85em',
                                'margin-bottom':'4px',
                                'margin-left':'4px',
                                'padding':'0',
                                'width':'197px'
                            }" 
                    [options]="backgroundImageOptions" 
                    [(ngModel)]="selectedBackgroundImageDashboard" 
                    placeholder="Background Image"
                    filter="true"
                    >
                </p-dropdown>

                <div>
        
                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-cube"
                        pTooltip="Apply the styling to the whole Dashboard" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="clickContainerApply()"
                        > 
                    </button>

                    <button 
                        class="paletteButton"
                        pButton 
                        type="button" 
                        icon="fa-close"
                        pTooltip="Close area for Dashboard settings info" 
                        tooltipPosition="right" 
                        tooltipEvent="hover"
                        (click)="displayExpandDashboardSettings=false"
                        > 
                    </button>
                </div>
                
            </div>
        <!--END Expand Background Info-->


    </div>         <!--Div for New Widget and Widget formatting buttons-->

</div>             <!--END Palette Container-->


<!--Widget Editor-->
<div
    class="widgetEditor"
    *ngIf="displayEditWidget"
    >
    <widget-editor 
        [originalDashboardID]="selectedDashboardID" 
        [originalDashboardTabName]="selectedDashboardTabName"
        [widgetToEditX]="widgetToEditX"
        [widgetToEditY]="widgetToEditY"
        [widgetToEdit]="widgetToEdit"
        (formSubmit)="handleWidgetBuilderFormSubmit($event)" 
        [addEditMode]="addEditModeWidgetEditor"
        [widgetIDtoEdit]="widgetIDtoEdit"
        [displayEditWidget]="displayEditWidget"
        >
        Loading Widget Builder ...
    </widget-editor>
</div>


<!--Widgets on the Canvas-->
<div 
    class="widgetContainer"
    *ngFor="let w of widgets; let i = index"
    #widgetContainter
    pDraggable="widget"
    (mousedown)="onWidgetResizeMouseDown($event, w.properties.widgetID)"
    (mouseup)="onWidgetResizeMouseUp($event, w.properties.widgetID)"
    (onDragStart)="onWidgetDragStart($event, w.properties.widgetID)"
    (onDragEnd)="onWidgetDragEnd($event)"
    (keydown)="onWidgetKeyUp($event, w.properties.widgetID)"
    (click)="onWidgetMouseDown($event, w.properties.widgetID)"
    >

    <!--Container Header boxie-->
    <div
        class=widgetContainerHeader
        [style.height.em]="showContainerHeader == true ? '1' : '0'"
        >

        <!--Widget Drag Handle    -->
        <button
            class="widgetDragHandle"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            *ngIf="showContainerHeader"
            pButton
            type="button"
            icon="fa-arrows"
            pTooltip="Click and drag widget" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (mousedown)="onWidgetDragHandleMouseDown(w.properties.widgetID)"
            (mouseup)="onWidgetDragHandleMouseUp()"
            >
        </button> 

        <!--Widget Edit button-->
        <button
            class="widgetEditHandle"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            *ngIf="showContainerHeader"
            pButton
            type="button"
            icon="fa-edit"
            pTooltip="Click to edit widget" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="editWidget(w.properties.widgetID)"
            >
        </button> 

        <!--Delete Widget-->
        <button
            class="widgetEditHandle"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            *ngIf="showContainerHeader"
            pButton
            type="button"
            icon="fa-minus-square"
            pTooltip="Click to DELETE the widget" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="clickDeleteWidget(w.properties.widgetID)"
            >
        </button> 

        <!--Widget liked -->
        <button
            class="widgetIsLiked"
            *ngIf="w.properties.widgetIsLiked  &&  showContainerHeader"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            pButton
            type="button"
            icon="fa-heart"
            pTooltip="Click to toggle between Liked and UnLiked" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="clickWidgetIsLiked(w.properties.widgetID)"
            >
        </button>         
        <button
            class="widgetIsLiked"
            *ngIf="!w.properties.widgetIsLiked  &&  showContainerHeader"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            pButton
            type="button"
            icon="fa-heart-o"
            pTooltip="Click to toggle between Liked and UnLiked" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="clickWidgetIsLiked(w.properties.widgetID)"
            >
        </button>         

        <!--Widget Locked -->
        <button
            *ngIf="w.properties.widgetIsLocked  &&  showContainerHeader"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            class="widgetIsLocked"
            pButton
            type="button"
            icon="fa-lock"
            pTooltip="Click to UNlock.  Cannot edit when locked" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="clickWidgetLockToggle(w.properties.widgetID)"
            >
        </button> 

        <!--Widget UNLocked -->
        <button
            *ngIf="!w.properties.widgetIsLocked  &&  showContainerHeader"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            class="widgetIsLocked"
            pButton
            type="button"
            icon="fa-unlock"
            pTooltip="Click to lock.  Cannot edit when locked" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="clickWidgetLockToggle(w.properties.widgetID)"
            >
        </button>         

        <!--Widget Title-->
        <span
            class="widgetTitle"
            *ngIf="showContainerHeader"
            >
            {{w.container.widgetTitle}}
        </span>

        <!--Widget (shift) selected-->
        <button
            *ngIf="widgetShiftSelected(w.properties.widgetID)  &&  showContainerHeader"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            class="widgetShiftSelected"
            pButton
            type="button"
            icon="fa-check-square-o"
            pTooltip="This widget has been selected with shift-click  &&  showContainerHeader" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            >
        </button> 

        <!--Widget Comment button-->
        <button
            *ngIf="w.properties.widgetComments  &&  showContainerHeader"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            class="widgetCommentButton"
            pButton
            type="button"
            icon="fa-comment"
            pTooltip="This widget has a comment" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="showWidgetComment(w.properties.widgetID)"
            >
        </button>     
        <button
            *ngIf="!w.properties.widgetComments  &&  showContainerHeader"
            [style.color]="isContainerHeaderDark ? 'black' : 'lightgray'"
            class="widgetCommentButton"
            pButton
            type="button"
            icon="fa-comment-o"
            pTooltip="This widget has a comment" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="showWidgetComment(w.properties.widgetID)"
            >
        </button> 
    <div>          <!--Container Header boxie-->


    <!--Text Area (at top)-->
    <div 
        class="widgetContainerTextArea"
        *ngIf="w.areas.showWidgetText"
        #widgetText
        >
        {{ w.textual.textText}} 
    </div>

    <!--Graph content -->
    <div 
        class="widgetGraph"
        #widget
        >
    </div>         <!--END Graph content ends-->

    <!--Table Area (at bottom)-->
    <div 
        class="widgetContainerTableArea"
        *ngIf="w.areas.showWidgetTable"
        >
        TABLE to follow later
    </div>


    <!--Image Area-->
    <div 
        class="widgetContainerImageArea"
        *ngIf="w.areas.showWidgetImage"
        #widgetImage
        >
        <img 
            alt="image ..." 
            [style.height.px]="w.image.imageHeigt"
            [style.width.px]="w.image.imageWidth"
            [src]="w.image.imageSource" 
            >
    </div>

 <!--<img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">-->


</div>             <!--END Widgets on the Canvas-->



<!--Section for popup forms and dialogues-->
    <!--Popup Advanced Dashboard Filter-->
    <p-dialog header="Advanced Dashboard Filter" 
        [(visible)]="displayAdvancedDashboardFilter" 
        modal="modal" 
        width="450" 
        responsive="true"
        >

        <dashboardadvancedfilter 
            (formSubmit)="handleFormSubmit($event)" 
            >
        </dashboardadvancedfilter>

    </p-dialog>


    <!--Detail for selected Dashboard -->
    <div 
        *ngIf="displayDashboardDetails"
        >
        <p-dialog 
            header="Dashboard Details" 
            [(visible)]="displayDashboardDetails" 
            modal="modal" 
            width="800" 
            responsive="true"
            >
            <dashboard-editor
                [selectedDashboardID]="selectedDashboardID" 
                >
                Loading Dashboard Editor ...
            </dashboard-editor>
        </p-dialog>
    </div>


    <!--Detail for selected Tab-->
    <p-dialog 
        header="Tab Editor" 
        [(visible)]="displayTabDetails" 
        modal="modal" 
        resizable="true"
        height="100vw"
        responsive="true"
        >
        Form to show detail for Tab
    </p-dialog>


    <!--Confirmation Dialogue Box-->
    <p-confirmDialog 
        *ngIf="deleteMode"
        header="Confirmation" 
        icon="fa fa-question-circle" 
        width="425" 
        #cd
        >
        <p-footer>
            <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
        </p-footer>
    </p-confirmDialog>
    

    <!--Form to show / add Widget Comments-->
    <div *ngIf="displayCommentsPopup">
        <p-dialog 
            header="Comments" 
            [(visible)]="displayCommentsPopup" 
            modal="modal" 
            width="450" 
            responsive="true"
            >
            <widget-comment
                [selectedWidgetID]="selectedCommentWidgetID"
                >
                Loading Widget Comments ...
            </widget-comment>
        </p-dialog>
    </div>

        
<!--END Section for popup forms and dialogues-->