<!--Confirmation dialogue box-->
<p-confirmDialog
    *ngIf="deleteMode"
    header="Confirmation"
    icon="fa fa-question-circle"
    width="425"
    >
</p-confirmDialog>


<!--Popup form for a single Dashboard (Add or Edit)-->
<p-dialog
    [(visible)]="displayDashboardPopup"
    [header]="popupHeader"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <!--Single Dashboard to work with ...-->
    <dashboard-editor
        [selectedDashboard]="selectedDashboard"
        [displayDashboardPopup]="displayDashboardPopup"
        [addEditMode]="addEditMode"
        [dashboardToEdit]="dashboardToEdit"
        (formDashboardSubmit)="handleFormDashboardSubmit($event)"
        >
        Loading Dashboard Editor ...
    </dashboard-editor>
</p-dialog>


<!--Context (popup) menu  -->
<p-contextMenu #cm [model]="popuMenuItems"></p-contextMenu>


<!--Table with Dashboard info -->
<div>
    <p-dataTable  #dt
        columnResizeMode="expand"
        exportFilename="dashboards"
        [contextMenu]="cm"
        [paginator]="true"
        [pageLinks]="3"
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedDashboard"
        selectionMode="single"
        [scrollable]="false"
        [sortMode]="multiple"
        [value]="dashboards"
        (click)="onClickDashboardTable()"
        >
        <p-header
            [style]="{'background-color': 'darkgray'}">
            <span>
                List of Dashboards
            </span>
            <span style="float:right"
                class="ui-helper-clearfix csvButton"
                >
                <button
                    type="button"
                    pButton
                    icon="fa-file-o"
                    iconPos="left"
                    label="CSV"
                    (click)="dt.exportCSV()"
                    >
                </button>
            </span>

        </p-header>

        <p-column
            field="dashboardID"
            [filter]="true"
            filterMatchMode="contains"
            header="ID"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardCode"
            [filter]="true"
            filterMatchMode="contains"
            header="Code"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardName"
            [filter]="true"
            filterMatchMode="contains"
            header="Name"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="isContainerHeaderDark"
            [filter]="true"
            filterMatchMode="contains"
            header="Dark Hdr?"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="showContainerHeader"
            [filter]="true"
            filterMatchMode="contains"
            header="Show Hdr"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardBackgroundColor"
            [filter]="true"
            filterMatchMode="contains"
            header="Bg Color"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardBackgroundImageSrc"
            [filter]="true"
            filterMatchMode="contains"
            header="Bg Image"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardComments"
            [filter]="true"
            filterMatchMode="contains"
            header="Comments"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardDefaultExportFileType"
            [filter]="true"
            filterMatchMode="contains"
            header="Export FType"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardDescription"
            [filter]="true"
            filterMatchMode="contains"
            header="Description"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardNrGroups"
            [filter]="true"
            filterMatchMode="contains"
            header="Nr Groups"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardIsLocked"
            [filter]="true"
            filterMatchMode="contains"
            header="Locked?"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardIsLiked"
            [filter]="true"
            filterMatchMode="contains"
            header="Liked?"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardOpenTabNr"
            [filter]="true"
            filterMatchMode="contains"
            header="Open TabNr"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardOwners"
            [filter]="true"
            filterMatchMode="contains"
            header="Owner"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardPassword"
            [filter]="true"
            filterMatchMode="contains"
            header="Password"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardRefreshMode"
            [filter]="true"
            filterMatchMode="contains"
            header="RefreshMode"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardRefreshFrequency"
            [filter]="true"
            filterMatchMode="contains"
            header="RefreshFreq"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardNrUsersSharedWith"
            [filter]="true"
            filterMatchMode="contains"
            header="#Usr SharedWith"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardNrGroupsSharedWith"
            [filter]="true"
            filterMatchMode="contains"
            header="#Grp SharedWith"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardSystemMessage"
            [filter]="true"
            filterMatchMode="contains"
            header="SystemMessage"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardRefreshedDateTime"
            [filter]="true"
            filterMatchMode="contains"
            header="Refreshed on"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardRefreshedUserName"
            [filter]="true"
            filterMatchMode="contains"
            header="Refreshed by"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardUpdatedDateTime"
            [filter]="true"
            filterMatchMode="contains"
            header="Updated on"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardUpdatedUserName"
            [filter]="true"
            filterMatchMode="contains"
            header="Updated by"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardCreatedDateTime"
            [filter]="true"
            filterMatchMode="contains"
            header="Created on"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="dashboardCreatedUserName"
            [filter]="true"
            filterMatchMode="contains"
            header="Created by"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>

    </p-dataTable>
</div>


<!--Tag Membership panel-->
<div
    class="groupMembershipPanel"
    *ngIf="displayTagMembership"
    >

    <div
        class="groupMembershipHeading"
        >
        Tag Membership for {{ selectedDashboard.dashboardName }}
        <button
            class="panelButtonWithLabel"
            pButton
            type="button"
            label="Cancel"
            icon="fa-undo"
            (click)="onClickTagMembershipCancel()"
            >
        </button>
    </div>

    <div>
        <p-dataTable 
            [value]="dashboardTagMembership"
            selectionMode="single"
            [(selection)]="selectedMembershipTag"
            >
            <p-column field="dashboardTagID" header="ID"></p-column>
            <p-column field="dashboardTagName" header="Name"></p-column>
            <p-column field="dashboardTagMembershipCreatedDateTime" header="Created"></p-column>
            <p-column field="dashboardTagMembershipCreatedUserName" header="Creator"></p-column>
            <p-column field="dashboardTagMembershipUpdatedDateTime" header="Updated"></p-column>
            <p-column field="dashboardTagMembershipUpdatedUserName" header="Updator"></p-column>
        </p-dataTable>
    </div>

    <div
        class="addTag"
        >
        <div>
            Tag Name
            <input pInputText
                type="text"
                [(ngModel)]="tagname"
                placeholder="Required"
                pTooltip="Tag name to add to this dashboard"
                tooltipPosition="top"
                />
        </div>
        <div
            class="tagButtons"
            >
            <button
                class="panelButtonWithLabel"
                pButton
                type="button"
                label="Delete"
                icon="fa-minus"
                (click)="onClickDeleteDashboardTagMembership()"
                >
            </button>

            <button
                class="panelButtonWithLabel"
                pButton
                type="button"
                label="Add"
                icon="fa-plus"
                (click)="onClickAddDashboardTagMembership()"
                >
            </button>
        </div>
    </div>
    
</div>


<!--Shared Users panel-->
<div
    class="groupMembershipPanel"
    *ngIf="displaySharedWith"
    >

    <div
        class="groupMembershipHeading"
        >
        Users this Dashboard is Shared with
        <button
            class="panelButtonWithLabel"
            pButton
            type="button"
            label="Cancel"
            icon="fa-undo"
            (click)="onClickUsersSharedWithCancel()"
            >
        </button>
    </div>

    <!--Content-->
    <form>

        <div
            >
            <p-pickList
                [source]="availableSharedWith"
                [target]="belongstoSharedWith"
                sourceHeader="Available Users"
                targetHeader="Shared with these Users"
                (onMoveToTarget)="onMoveToTargetDashboardSharedWith($event)"
                (onMoveToSource)="onMoveToSourceDashboardSharedWith($event)"
                >
                <ng-template let-grp pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div
                            style="font-size:14px;float:left;margin:15px 5px 0 0"
                            >
                            {{ grp }}
                        </div>
                    </div>
                </ng-template>
            </p-pickList>

        </div>

    </form>
</div>


<!--Shared Groups panel-->
<div
    class="groupMembershipPanel"
    *ngIf="displayGroupsSharedWith"
    >

    <div
        class="groupMembershipHeading"
        >
        Groups this Dashboard is Shared with
        <button
            class="panelButtonWithLabel"
            pButton
            type="button"
            label="Cancel"
            icon="fa-undo"
            (click)="onClickGroupsSharedWithCancel()"
            >
        </button>
    </div>

    <!--Content-->
    <form>

        <div
            >
            <p-pickList
                [source]="availableGroupSharedWith"
                [target]="belongstoGroupsSharedWith"
                sourceHeader="Available Groups"
                targetHeader="Shared with these Groups"
                (onMoveToTarget)="onMoveToTargetDashboardGroupSharedWith($event)"
                (onMoveToSource)="onMoveToSourceDashboardGroupSharedWith($event)"
                >
                <ng-template let-grp pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div
                            style="font-size:14px;float:left;margin:15px 5px 0 0"
                            >
                            {{ grp.groupName }}
                        </div>
                    </div>
                </ng-template>
            </p-pickList>

        </div>

    </form>
</div>


<!--Popup form for Data Source table-->
<p-dialog
    [(visible)]="displayDataSource"
    header="Data Sources"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable [value]="datasources">
        <p-column field="datasourceID" header="ID"></p-column>
        <p-column field="datasourceName" header="Name"></p-column>
        <p-column field="datasourceDescription" header="Description"></p-column>
    </p-dataTable>
</p-dialog>


<!--Popup form for Reports table-->
<p-dialog
    [(visible)]="displayReports"
    header="Reports"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable [value]="reports">
        <p-column field="reportID" header="ID"></p-column>
        <p-column field="reportName" header="Name"></p-column>
        <p-column field="description" header="Description"></p-column>
        <p-column field="reportParameters" header="Parameters"></p-column>
        <p-column field="dataSourceID" header="DS ID"></p-column>
        <p-column field="dataSourceParameters" header="DS Parameters"></p-column>
        <p-column field="reportFieldsString" header="Fields"></p-column>
    </p-dataTable>
</p-dialog>


<!--Popup form for Messages table-->
<p-dialog
    [(visible)]="displayMessages"
    header="Messages"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable [value]="canvasMessages">
        <p-column field="messageConversationID" header="Convers. ID"></p-column>
        <p-column field="messageID" header="ID"></p-column>
        <p-column field="messageSenderUserName" header="Sender"></p-column>
        <p-column field="messageSentDateTime" header="Sent on"></p-column>
        <p-column field="messageIsSystemGenerated" header="System?"></p-column>
        <p-column field="messageDashboardID" header="DS ID"></p-column>
        <p-column field="messageReportID" header="Report ID"></p-column>
        <p-column field="messageWidgetID" header="Widget ID"></p-column>
        <p-column field="messageSubject" header="Subject"></p-column>
        <p-column field="messageBody" header="Body"></p-column>
        <p-column field="messageSentToMe" header="To me?"></p-column>
        <p-column field="messageMyStatus" header="My Status"></p-column>

    </p-dataTable>
</p-dialog>

