<!--Errors-->
<p 
    class="iserror" 
    *ngIf="formIsValid"> 
    {{ errorMessageOnForm }}
</p>


<!--Form with selected Dashboard-->
<form 
    [formGroup]="dashboardForm" 
    >
    <div 
        class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" 
        style="margin: 10px 0px"
        >

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                ID:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardID" 
                       placeholder="(info)"
                       readonly
                       autocomplete="on"
                       pTooltip="Unique ID for the Dashboard record"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Code :
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardCode" 
                       placeholder="Required"
                       autofocus
                       pTooltip="Short Code for the Dashboard"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Name :
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardName" 
                       placeholder="Required"
                       pTooltip="Dashboard Name (be brief and descriptive)"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Bg Pic Path:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardBackgroundImageSrc" 
                       placeholder="(Optional)"
                       pTooltip="Path to the optional background picture"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Comments:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardComments" 
                       placeholder="(Optional)"
                       pTooltip="Comments on this Dashboard"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Created on:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       readonly
                       formControlName="dashboardCreatedDateTime" 
                       placeholder="(info)"
                       pTooltip="DateTime when created first time"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                HeaderDark:
            </div>
            <div class="ui-grid-col-4">
                <p-checkbox 
                    class="ui-grid-col-4"
                    style="
                            margin-bottom: 3px;
                            margin-left: 6px;
                            margin-right: 5px;
                            margin-top: 2px;
                            padding: 0;
                          " 
                    pTooltip="Check to make the header dark"
                    formControlName="isContainerHeaderDark" 
                    binary="true"
                    >
                </p-checkbox>
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                ShowHeader:
            </div>
            <div class="ui-grid-col-4">
                <p-checkbox 
                    class="ui-grid-col-4"
                    style="
                            margin-bottom: 3px;
                            margin-left: 6px;
                            margin-right: 5px;
                            margin-top: 2px;
                            padding: 0;
                          " 
                    pTooltip="Check to show the header"
                    formControlName="showContainerHeader" 
                    binary="true"
                    >
                </p-checkbox>
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Bg Color:
            </div>
            <div class="ui-grid-col-4">
                <p-dropdown
                    [(ngModel)]="selectedTextBackground"
                    [style]="
                        {
                            'background-color':'538cc6',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'float':'right',
                            'font-size':'0.85em',
                            'margin':'2px 5px 0 0',
                            'padding':'0',
                            'width':'190px'
                        }" 
                    [options]="chartColor" 
                    formControlName="dashboardBackgroundColor"
                    placeholder="(Optional)"
                    filter="true"
                    >
                </p-dropdown>
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Nr Groups:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       readonly
                       formControlName="dashboardNrGroups" 
                       placeholder="(info)"
                       pTooltip="Number of group to which this Dashboard belongs"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Is Liked?:
            </div>
            <div class="ui-grid-col-4">
                <p-checkbox 
                    class="ui-grid-col-4"
                    style="
                            margin-bottom: 3px;
                            margin-left: 6px;
                            margin-right: 5px;
                            margin-top: 2px;
                            padding: 0;
                          " 
                    pTooltip="Check if you like this Dashboard"
                    formControlName="dashboardIsLiked" 
                    binary="true"
                    >
                </p-checkbox>
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Sys. Msg:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardSystemMessage" 
                       placeholder="(Optional)"
                       pTooltip="Message from the Canvas system"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Created by:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       readonly
                       formControlName="dashboardCreatedUserID" 
                       placeholder="(info)"
                       pTooltip="UserID of the creator"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Dflt. F-Type:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardDefaultExportFileType" 
                       placeholder="(Optional)"
                       pTooltip="Default file type when this dashboard is exported"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Description:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardDescription" 
                       placeholder="(Optional)"
                       pTooltip="Detailed description"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Is Locked?:
            </div>
            <div class="ui-grid-col-4">
                <p-checkbox 
                    class="ui-grid-col-4"
                    style="
                            margin-bottom: 3px;
                            margin-left: 6px;
                            margin-right: 5px;
                            margin-top: 2px;
                            padding: 0;
                          " 
                    pTooltip="Check if this Dashboard is locked for editing"
                    formControlName="dashboardIsLocked" 
                    binary="true"
                    >
                </p-checkbox>
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Open Tab:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardOpenTabNr" 
                       placeholder="(Optional)"
                       pTooltip="Optional tab ID to show when this Dashboard is opened"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Owner:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       readonly
                       formControlName="dashboardOwnerUserID" 
                       placeholder="(info)"
                       pTooltip="UserID of the owner"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Password:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="password" 
                       formControlName="dashboardPassword" 
                       placeholder="(Optional)"
                       pTooltip="Optional Password to lock this Dashboard"
                       />
            </div>
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Refr. Mode:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardRefreshMode" 
                       placeholder="(Optional)"
                       pTooltip="Optional frequency at which this dashboard must be refreshed"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Refr. by:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       readonly
                       formControlName="dashboardRefreshedUserID" 
                       placeholder="(info)"
                       pTooltip="UserID who last refreshed this Dashboard"
                       />
            </div>
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Refr. on:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       readonly
                       formControlName="dashboardRefreshedDateTime" 
                       placeholder="(info)"
                       pTooltip="DateTime when this Dashboard was last refreshed"
                       />
            </div>
        </div>

        <div class="ui-grid-row">

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Nr Shared:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       readonly
                       formControlName="dashboardNrUsersSharedWith" 
                       placeholder="(info)"
                       pTooltip="Nr of users with whom this Dashboard is shared"
                       />
            </div>

        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Updated on:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       readonly
                       formControlName="dashboardUpdatedDateTime" 
                       placeholder="(info)"
                       pTooltip="DateTime when this Dashboard was last updated"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Updated by:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       readonly
                       formControlName="dashboardUpdatedUserID" 
                       placeholder="(info)"
                       pTooltip="UserID who last updated this Dashboard"
                       />
            </div>
        </div>

        <!--Cancel / Submit Buttons-->
        <div 
            class="ui-grid-row" 
            style="margin-top:12px;"
            >
            <div class="ui-grid-col-3"></div>
            <div class="ui-grid-col-2">
                <button 
                    class="panelButtonWithLabel"
                    pButton 
                    style="float:left;"
                    type="button" 
                    label="Cancel"
                    icon="fa-undo"
                    (click)="onClickDashboardCancel()"
                    >
                </button>
            </div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2">
                <button 
                    class="panelButtonWithLabel"
                    pButton 
                    style="float:right;"
                    type="button" 
                    label="Submit"
                    icon="fa-refresh"
                    (click)="onClickDashboardSubmit()"
                    >
                </button>
            </div>
            <div class="ui-grid-col-3"></div>
        </div>

    </div>   
</form> 

