<!--Errors-->
<p 
    class="iserror" 
    *ngIf="formIsValid"> 
    {{ errorMessageOnForm }}
</p>


<!--Form with selected Dashboard-->
<form 
    [formGroup]="dashboardTabForm"    
    >
    <div 
        class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" 
        style="margin: 10px 0px"
        >

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                DashboardID:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       readonly
                       type="text" 
                       formControlName="dashboardID" 
                       placeholder="(info)"
                       autofocus
                       autocomplete="on"
                       />
            </div>

            <div class="ui-grid-col-2">
                WidgetTabID :
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       readonly
                       type="text" 
                       formControlName="dashboardTabID" 
                       placeholder="Required"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
               Tab Name :
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       readonly
                       type="text" 
                       formControlName="dashboardTabName" 
                       placeholder="Required"
                       />
            </div>

            <div class="ui-grid-col-2">
                Description:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardTabDescription" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Created on:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       readonly
                       type="text" 
                       formControlName="dashboardTabCreatedDateTime" 
                       placeholder="(Optional)"
                       />
            </div>

            <div class="ui-grid-col-2">
                Created by:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       readonly
                       type="text" 
                       formControlName="dashboardTabCreatedUserName" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>
        
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Updated on:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       readonly
                       type="text" 
                       formControlName="dashboardTabUpdatedDateTime" 
                       placeholder="(Optional)"
                       />
            </div>

            <div class="ui-grid-col-2">
                Updated by:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       readonly
                       type="text" 
                       formControlName="dashboardTabUpdatedUserName" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>
    </div>   


    <!--Buttons-->
    <div class="ui-grid-row "
        class=""
        > 
        <div class="ui-grid-col-2"></div>
        <button 
            class="ui-grid-col-2 panelButtonWithLabel"
            pButton 
            type="button" 
            label="Cancel"
            icon="fa-undo"
            (click)="onClickCancel()"
            >
        </button>
        <div class="ui-grid-col-4"></div>
        <button 
            class="ui-grid-col-2 panelButtonWithLabel"
            pButton 
            type="submit" 
            label="Submit" 
            icon="fa-refresh"
            (click)="onClickSubmit()"
            >
        </button>
        <div class="ui-grid-col-2"></div>
    </div>

</form> 

