<!--Errors-->
<p 
    class="iserror" 
    *ngIf="formIsValid"> 
    {{ errorMessageOnForm }}
</p>


<!--Form with selected Dashboard-->
<form 
    [formGroup]="dashboardForm" 
    >
    <div 
        class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" 
        style="margin: 10px 0px"
        >

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                ID:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardID" 
                       placeholder="(info)"
                       autofocus
                       autocomplete="on"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Code :
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardCode" 
                       placeholder="Required"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Name :
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardName" 
                       placeholder="Required"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Bg Pic Path:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardBackgroundImageSrc" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Comments:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardComments" 
                       placeholder="(Optional)"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                CreatedDateTime:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardCreatedDateTime" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Header Dark?:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
   
                       formControlName="isContainerHeaderDark" 
                       placeholder="(Optional)"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Show Header:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="showContainerHeader" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                dashboardBackgroundColor:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardBackgroundColor" 
                       placeholder="(Optional)"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                dashboardNrGroups:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardNrGroups" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                dashboardIsLiked:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardIsLiked" 
                       placeholder="(Optional)"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                dashboardNrSharedWith:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardNrSharedWith" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                CreatedUserID:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardCreatedUserID" 
                       placeholder="(Optional)"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Dflt. F-Type:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardDefaultExportFileType" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Description:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardDescription" 
                       placeholder="(Optional)"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Is Locked:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardIsLocked" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Open TabNr:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardOpenTabNr" 
                       placeholder="(Optional)"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                OwnerUserID:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardOwnerUserID" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Password:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="password" 
                       formControlName="dashboardPassword" 
                       placeholder="(Optional)"
                       />
            </div>
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Refresh Mode:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardRefreshMode" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Refreshed by:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardRefreshedUserID" 
                       placeholder="(Optional)"
                       />
            </div>
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Refreshed on:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardRefreshedDateTime" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">


            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                SystemMsg:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardSystemMessage" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <div class="ui-grid-row">
            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Updated on:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardUpdatedDateTime" 
                       placeholder="(Optional)"
                       />
            </div>

            <div 
                class="ui-grid-col-2" 
                style="margin-top:4px;"
                >
                Updated by:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="dashboardUpdatedUserID" 
                       placeholder="(Optional)"
                       />
            </div>
        </div>

        <!--Cancel / Submit Buttons-->
        <div 
            class="ui-grid-row" 
            style="margin-top:12px;"
            >
            <div class="ui-grid-col-3"></div>
            <div class="ui-grid-col-2">
                <button 
                    class="panelButtonWithLabel"
                    pButton 
                    style="float:left;"
                    type="button" 
                    label="Cancel"
                    icon="fa-undo"
                    (click)="onClickDashboardCancel()"
                    >
                </button>
            </div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2">
                <button 
                    class="panelButtonWithLabel"
                    pButton 
                    style="float:right;"
                    type="button" 
                    label="Submit"
                    icon="fa-refresh"
                    (click)="onClickDashboardSubmit()"
                    >
                </button>
            </div>
            <div class="ui-grid-col-3"></div>
        </div>

    </div>   
</form> 


<!--TODO - we need a consistent way to update many's things - Grid?-->

            <!--dashboardGroups: [
                { dashboardGroupName: 'Favourites' },
                { dashboardGroupName: 'Everyone'}
            ],

            dashboardLiked: [
                { dashboardLikedUserID: 'AnnieA' },
                { dashboardLikedUserID: 'BennieB' },
                { dashboardLikedUserID: 'CharlesC' }
            ],
            dashboardSharedWith: [
                {
                    dashboardSharedWithUserID: 'PeterP',
                    dashboardSharedWithType: 'Full'
                }
            ],-->
