
 /*Palette ~ area on left  */
    .paletteContainer {
        background-color:   white;
        border: 2px solid   #264d73;
        border-radius: 4px;
        display: block;
        font-size:0.85em;
        left: 4px;
        margin: 4px;
        padding: 0;
        position: absolute;
        width: 210px;
    }

    /*Dashboard*/
        .dashboardHeading {
            background-color: #204060;
            font-size: 1em;
            font-weight: bold;
            margin: 0;
            padding: 4px 0 2px 4px;
        }

        .filteredQuantity {
            display: block;
            float: right;
            font-size: 0.7em;
            margin: 0;
            padding: 3px 5px 0 0;
        }

        .dashboardFilter {
            margin-top: 3px;
        }

        .dashboardAdvancedFilter {
            background-color:  white;
            border: 1px solid  #204060;
            border-radius: 2px;
            color: black;
            float: right;
            height: 22px;
            margin: 0 3px 0 0;
            padding: 0;
        }

        .dashboardDivButtons {
            background-color: white;
            border: transparent;
            color:black;
            font-size: 0.85em;
            margin: 4px 0 0 15px;
            padding: 0;
        }

        .dashboardButton {
            background-color: white;
            border: 1px solid #204060;
            color:black;
            font-size: 0.85em;
            padding: 0;
        }

        .tabDiv {
            margin-top: 4px;
            margin-left: 2px;
            margin-right: 2px;
            margin-bottom: 0;
            padding: 0;
        }

        .tabButton {
            background-color: white;
            border: 1px solid darkgray;
            color: gray;
            height: 22px;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: 4px;
            padding: 0;
            width: 22px;
        }
    /*END Dashboard*/


    /*Widgets (on palette)*/

        .widgetHeading {
                background-color: #204060;
                font-size: 1em;
                font-weight: bold;
                margin: 11px 0 0 0;
                padding: 4px 0 2px 4px;
        }

        .widgetAddNewWidgetButton {
            background-color: white;
            border: 1px solid darkgray;
            color: black;
            font-size: 1em;
            height: 25px;
            margin: 4px;
            padding: 1px;
            width: 25px;
        }

        .widgetFormatingButton {
            background-color: white;
            border: 1px solid darkgray;
            color: gray;
            margin: 2px;
            padding: 0;
        }

        .widgetNrSelected {
            color: darkgray;
        }
        
    /*END Widgets (on palette)*/



    /*Widget Container*/

        .widgetContainerHeading {
            background-color: #204060;
            font-size: 1em;
            font-weight: bold;
            margin: 11px 0 0 0;
            padding: 4px 0 2px 4px;
        }

        .containerButton {
            background-color: white;
            border: 1px solid darkgray;
            color: black;
            font-size: 1em;
            height: 25px;
            margin: 4px;
            padding: 1px;
            width: 25px;
        }

        .widgetContentAccordionTab{
            background-color: white;
        }

        .radioButtonDiv {
            margin-top: 11px;
            padding: 3px;
            border: 1px solid darkgray;
            border-radius: 2px;
        }

        .paletteLabel {
            font-weight: bold;
            margin: 9px 0 0 0;
        }
    /*END Widget Container*/

/*END Dashboard*/


/*Widgets - shown on Canvas ~ graphs*/

    .widgetContainer {
        background-color: white;
        border: 2px solid   #204060;
        border-radius: 4px;
        color: black;
        display: block;
        font-size: 1em;
        left: 20px;
        margin: 4px;
        padding: 0;
        overflow: auto;
        position: absolute;
        resize: both;
        top: 4.5em;
        width: 200px;            
    }

    .widgetContainerHeader {
        background-color: inherit;
    }

    .widgetGraph {
        background-color: transparent;
        border: transparent;
        color: black;
        display: block;
        font: 1em;
        height: 20px;
        left: 5px;
        margin: 0px;
        padding: 0;
        position: absolute;
        top: 25px;
        width: 60px;
    }

    .widgetTitle {
        background-color: transparent;
        border-color: transparent;
        color: inherit;
        font-size: inherit;
        height: 22px;
        margin: 0 0 0 4px;
        padding: 0;
    }

    .widgetDragHandle {
        background-color: transparent;
        border: transparent;
        color: lightgray;
        margin: 0 0 0 4px;
        padding: 0;
        width: 15px;
    }

    .widgetDragHandle:hover {
        background-color: transparent;
        border: transparent;
        color: black;
    }

    .widgetEditHandle {
        background-color: transparent;
        border: transparent;
        color: lightgray;
        font-size: 1em !important;
        margin: 0 0 0 4px;
        padding: 0;
        width: 15px;
    }

    .widgetEditHandle:hover {
        background-color: transparent;
        border: transparent;
        color: darkgray;
        font-size: 1em !important;
    }

    .widgetIsLiked {
        background-color: transparent;
        border: transparent;
        color: lightgray;
        font-size: 1em !important;
        margin: 0 4px 0 4px;
        padding: 0;
        width: 15px;
    }

    .widgetIsLiked:hover {
        background-color: transparent;
        border: transparent;
        color: black;
    }

    .widgetIsLocked {
        background-color: transparent;
        border: transparent;
        color: lightgray;
        font-size: 1em !important;
        margin: 0 0 0 4px;
        padding: 0;
        width: 15px;
    }

    .widgetIsLocked:hover {
        background-color: transparent;
        border: transparent;
        color: black;
    }

    .widgetShiftSelected {
        background-color: transparent;
        border: transparent;
        color: red;    
        float: right;
        font-size: 0.85em;
        height: 1em;
        margin: 5px;
        padding-top: 2px;
        width: 15px;
    }

    .widgetCommentButton {
        background-color: transparent;
        border-color: transparent;
        color: lightgray;
        float: right;
        font-size: 1em;
        height: 1em;
        margin: 4px;
        padding: 0;
        width: 15px;
    }

    .widgetCommentButton:hover {
        background-color: transparent;
        border-color: transparent;
        color: darkgray;
        font-size: 1em;
    }



/*END Widgets*/

