/*Palette*/
    .paletteContainer {
        background-color:   white;
        border: 1px solid   #669999;
        border-radius: 4px;
        display: block;
        font-size:0.85em;
        left: 4px;
        margin: 4px;
        padding: 0 0 3px 0;
        position: absolute;
        width: 210px;
    }

    /*Dashboard*/
        .dashboardHeading {
            background-color: #669999;
            font-size: 1em;
            font-weight: bold;
            margin: 0;
            padding: 4px 0 2px 4px;
        }

        .filteredQuantity {
            display: block;
            float: right;
            font-size: 0.7em;
            margin: 0;
            padding: 3px 5px 0 0;
        }

        .dashboardFilter {
            margin-top: 3px;
        }

        .tabDiv {
            margin-top: 4px;
            margin-left: 2px;
            margin-right: 2px;
            margin-bottom: 0;
            padding: 0;
        }

        .actionLabel {
            font-size: 0.85em;
            margin-left: 6px;
            margin-top: 7px;
            margin-bottom: 3px;
            margin-right: 3px;
            padding: 0;
            
        }

    /*END Dashboard*/


    /*Widgets (on palette)*/

        .widgetHeading {
                background-color: #669999;
                font-size: 1em;
                font-weight: bold;
                margin: 11px 0 4px   0;
                padding: 4px 0 2px 4px;
        }

        .widgetAddNewWidgetButton {
            background-color: white;
            border: 1px solid darkgray;
            color: black;
            font-size: 1em;
            height: 25px;
            margin: 2px 2px 2px 4px;
            padding: 1px;
            width: 25px;
        }

        .paletteButton {
            background-color: white;
            border: 1px solid darkgray;
            color: gray;
            height: 25px;
            margin: 2px 2px 2px 4px;
            padding: 1px;
            width: 25px;
        }

        .paletteButtonWithLabel {
            background-color: white;
            border: 1px solid darkgray;
            border-radius: 2px;
            color: gray;
            height: 25px;
            margin: 2px;
            padding: 1px;
            width: 85px;
        }

        .widgetNrSelected {
            font-size: 0.85em;
            margin: 10px 6px 4px 6px;
        }
        
    /*END Widgets (on palette)*/


/*END Dashboard*/


/*Widgets - shown on Canvas ~ graphs*/

    .widgetContainer {
        background-color: white;
        border: 2px solid   #669999;
        border-radius: 4px;
        color: black;
        display: block;
        font-size: 1em;
        left: 20px;
        margin: 4px;
        padding: 0;
        overflow: auto;
        position: absolute;
        resize: both;
        top: 4.5em;
        width: 200px;            
    }

    .widgetContainerHeader {
        background-color: inherit;
    }

    .widgetContainerTextArea {
        background-color: transparent;
        border: none;
        height: 2em;
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 20px;
        width: 200px;
    }

    .widgetGraph {
        background-color: transparent;
        border: transparent;
        color: black;
        display: block;
        font: 1em;
        height: 20px;
        left: 5px;
        margin: 0px;
        padding: 0;
        position: absolute;
        top: 20px;
        width: 60px;
    }



.widgetContainerTableArea {
    background-color: orange;
    border: 3px solid black;
    bottom: 0;
    height: 3em;
    margin: 5px;
    padding: 5px;
    position: absolute;
    width: 160px;
}



    .widgetTitle {
        background-color: transparent;
        border-color: transparent;
        color: inherit;
        font-size: inherit;
        height: 22px;
        margin: 0 0 0 4px;
        padding: 0;
    }

    .widgetDragHandle {
        background-color: transparent;
        border: transparent;
        color: lightgray;
        margin: 0 0 0 4px;
        padding: 0;
        width: 15px;
    }

    .widgetDragHandle:hover {
        background-color: transparent;
        border: transparent;
        color: black;
    }

    .widgetEditHandle {
        background-color: transparent;
        border: transparent;
        color: lightgray;
        font-size: 1em !important;
        margin: 0 0 0 4px;
        padding: 0;
        width: 15px;
    }

    .widgetEditHandle:hover {
        background-color: transparent;
        border: transparent;
        color: darkgray;
        font-size: 1em !important;
    }

    .widgetIsLiked {
        background-color: transparent;
        border: transparent;
        color: lightgray;
        font-size: 1em !important;
        margin: 0 4px 0 4px;
        padding: 0;
        width: 15px;
    }

    .widgetIsLiked:hover {
        background-color: transparent;
        border: transparent;
        color: black;
    }

    .widgetIsLocked {
        background-color: transparent;
        border: transparent;
        color: lightgray;
        font-size: 1em !important;
        margin: 0 0 0 4px;
        padding: 0;
        width: 15px;
    }

    .widgetIsLocked:hover {
        background-color: transparent;
        border: transparent;
        color: black;
    }

    .widgetShiftSelected {
        background-color: transparent;
        border: transparent;
        color: red;    
        float: right;
        font-size: 0.85em;
        height: 1em;
        margin: 5px;
        padding-top: 2px;
        width: 15px;
    }

    .widgetCommentButton {
        background-color: transparent;
        border-color: transparent;
        color: lightgray;
        float: right;
        font-size: 1em;
        height: 1em;
        margin: 4px;
        padding: 0;
        width: 15px;
    }

    .widgetCommentButton:hover {
        background-color: transparent;
        border-color: transparent;
        color: darkgray;
        font-size: 1em;
    }

/*END Palette*/


/*Dashboard Settings Form*/
    .changeDashboardSettings {
        height: 360px;
    }

    .changeDashboardSettingsButton {
            background-color: lightgray;
            border: 1px solid  black;
            border-radius: 2px;
            color: black;
            margin: 10px;
            padding: auto;
            width: 80px;
    }                   
/*END Dashboard Settings Form*/


        /*background-color:   white;
        border: 1px solid   #669999;
        border-radius: 4px;
        display: block;*/


/*Widget Editor*/
    .widgetEditor {
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        font-size:0.85em;
        height: 100%;
        left: 4px;
        margin: 0;
        overflow: auto; /* Enable scroll if needed */
        padding: 0;
        position: absolute;
        width: 100%; /* Full width */
        z-index: 900; /* Sit on top */
    }
/*END Widget Editor*/





/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}