<!--Palette Container-->
<div 
    class="paletteContainer"
    >
    
    <!--Dashboard Heading-->
    <div
        class="dashboardHeading"
        >
        Dashboard
        <span
            class="filteredQuantity"
            [style.color]="dashboardDropDown.length == dashboards.length ? 'black' : 'orange'"
            >
            {{ dashboardDropDown.length }} / {{ dashboards.length }}
        </span>
    </div>         <!--END Dashboard Heading-->

    <!--Dashboard Filters-->
    <div
        class="dashboardFilter"
        >
        <p-dropdown 
            [options]="dashboardDropDown" 
            [(ngModel)]="selectedDashboardName"
            inputId="1" 
            [style]="{
                        'autofocus':'true',
                        'background-color':'538cc6',
                        'border':'1px solid #204060',
                        'border-radius':'2px',
                        'font-size':'0.85em',
                        'margin-bottom':'4px',
                        'margin-left':'4px',
                        'padding':'0',
                        'width':'147px'
                    }" 
            placeholder="Select a Dashboard"
            filter="true"
            (onChange)="loadDashboardTabs($event)"
            >
        </p-dropdown>
        
        <button
            class="dashboardAdvancedFilter"
            pButton
            type="button"
            icon="fa-filter"
            pTooltip="Advanced filter to select Dashboards from" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            [style.background-color] = "hasAdvancedFilter ? 'orange' : 'white'"
            (click)="dashboardAdvanceFilter()"
            >
        </button>
    </div>         <!--END Dashboard Filters-->

    <!--Dashboard Buttons (Add, Del, ...)-->
    <div 
        class="dashboardDivButtons"
        >
        <button 
            class="dashboardButton"
            pButton 
            type="button" 
            label="Detail"
            icon="fa-newspaper-o"
            pTooltip="Show the detail of the Dashboard selected above" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onDashboardDetail()"
            >
        </button>

        <button 
            class="dashboardButton"
            pButton 
            type="submit" 
            label="Add" 
            icon="fa-plus"
            pTooltip="Add a new Dashboard" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onDashboardAdd()"
            >
        </button>

        <button 
            class="dashboardButton"
            pButton 
            type="button" 
            label="Delete"
            icon="fa-minus"
            pTooltip="Delete the Dashboard selected above"
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onDashboardDelete()"
            >
        </button>

    </div>         <!--END Dashboards Buttons (Add, Del, ...)--> 

    <!--Tab DropDown    -->
        <span>
            Tab:
        </span>
        <p-dropdown 
            [options]="dashboardTabsDropDown" 
            [(ngModel)]="selectedTabName"
            inputId="S2" 
            [style]="{
                        'autofocus':'true',
                        'background-color':'538cc6',
                        'border':'1px solid #204060',
                        'border-radius':'2px',
                        'font-size':'0.85em',
                        'margin-bottom':'4px',
                        'margin-left':'4px',
                        'margin-top':'6px',
                        'padding':'0',
                        'width':'110px'
                    }" 
            placeholder="Select a Tab"
            filter="true"
            (onChange)="loadDashboard($event)"
            >
        </p-dropdown>  
    <!--END Tab DropDown-->

    <!--Widget Heading-->
    <div
        class="widgetHeading"
        >
        Widgets
    </div>         <!--END Widget Heading-->

    <!--Div for New Widget and Widget formatting buttons-->
    <div>

        <!--Add a new Widget-->
        <button 
            class="widgetAddNewWidgetButton"
            pButton 
            type="button" 
            icon="fa-bar-chart"
            pTooltip="Drag onto the open canvas to create a new Widget"
            tooltipPosition="right" 
            tooltipEvent="hover"
            pDraggable="barChart"
            (onDragEnd)="onDragEndNewWidget($event)"
            >
        </button>        
        
        <!--Align Widgets to left-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-align-left"
            pTooltip="Left align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('left')"
            >
        </button> 
        
        <!--Align Widgets to center (horisontally)-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-align-center"
            pTooltip="Center align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('center')"
            >
        </button> 
        
        <!--Align Widgets to right-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-align-right"
            pTooltip="Right align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('right')"
            >
        </button> 

        <!--Equal horisontal distance between Widgets-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-arrows-h"
            pTooltip="Set horisontal equal distance between centers of the selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('horisontalEquiDistant')"
            >
        </button> 
        
        <!--Increase horisontal distance between Widgets-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-long-arrow-right"
            pTooltip="Increase horisontal distance between selected widgets (shift-click) by 3px" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('horisontalIncreaseDistance')"
            >
        </button> 
        
        <!--Decrease horisontal distance between Widgets-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-long-arrow-left"
            pTooltip="Decrease horisontal distance between selected widgets (shift-click) by 3px" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('horisontalDecreaseDistance')"
            >
        </button> 
       
        <!--Align Widgets to top-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-chevron-up"
            pTooltip="Top align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('top')"
            >
        </button> 
        
        <!--Align Widgets to middle (vertically)-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-crosshairs"
            pTooltip="Middle (horisontally) align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('middle')"
            >
        </button> 
        
        <!--Align Widgets to bottom-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-chevron-down"
            pTooltip="Bottom align selected widgets (shift-click) to the last one" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetAlign('bottom')"
            >
        </button> 
        
        <!--Equal vertical distance between Widgets-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-arrows-v"
            pTooltip="Set vertical equal distance between middles of selected widgets (shift-click)" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('verticalEquiDistant')"
            >
        </button> 
        
        <!--Increase vertical distance between Widgets-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-long-arrow-up"
            pTooltip="Increase vertical distance between selected widgets (shift-click) by 3px" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('verticalIncreaseDistance')"
            >
        </button> 
        
        <!--Decrease vertical distance between Widgets-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-long-arrow-down"
            pTooltip="Decrease vertical distance between selected widgets (shift-click) by 3px" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetDistanceChange('verticalDecreaseDistance')"
            >
        </button> 

        <!--Toggle to select all the Widgets-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-check-square-o"
            pTooltip="Select all Widgets" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="onWidgetSelectAll()"
            >
        </button> 
        
        <!--Toggle Widget color in headers to dark or not-->
        <button
            class="widgetFormatingButton"
            pButton
            type="button"
            icon="fa-sun-o"
            pTooltip="Toggle Widget header buttons between dark and light" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="isDark=!isDark"
            >
        </button> 

        <span
            class="widgetNrSelected"
            *ngIf="selectedWidgetIDs.length > 0"
            >
            {{ selectedWidgetIDs.length }}
        </span>
    </div>         <!--Div for New Widget and Widget formatting buttons-->


    <!--Widget Container-->
    <div
        class="widgetContainerHeading"
        >
        Container
    </div>         <!--END Widget Container-->
    
    <p-accordion
        [style]="{
            'font-size':'0.85em',
            'font-style':'normal'
            }"
        [multiple]="true"
        (onOpen)="onOpenPaletteTab($event)"
        (onClose)="onClosePaletteTab($event)" 
        >

        <p-accordionTab 
            header="Container Styling"
            [selected]="true"
            > 
            
            <div
                class="widgetContentAccordionTab"
                >

                <!--Apply changes button-->
                <button 
                    class="containerButton"
                    pButton type="button" 
                    icon="fa-cube"
                    pTooltip="Apply the styling to the selected Containters" 
                    tooltipPosition="right" 
                    tooltipEvent="hover"
                    (click)="clickContainerApply()"
                    > 
                </button>

                <!--Clear all selections-->
                <button 
                    class="containerButton"
                    pButton type="button" 
                    icon="fa-eraser"
                    pTooltip="Clear the selections" 
                    tooltipPosition="right" 
                    tooltipEvent="hover"
                    (click)="clickContainerClear()"
                    > 
                </button>

                <p-toggleButton 
                    [(ngModel)]="snapToGrid" 
                    onLabel="Snap" 
                    offLabel="Off" 
                    [style]="{
                                'border':'1px solid darkgray',
                                'border-radius':'2px',
                                'height': '2em',
                                'margin': '0px',
                                'padding':'0px',
                                'width':'50px'
                             }"                     
                    >
                </p-toggleButton>

                <p-toggleButton 
                    [(ngModel)]="showContainerHeader" 
                    onLabel="Head" 
                    offLabel="Off" 
                    [style]="{
                                'border':'1px solid darkgray',
                                'border-radius':'2px',
                                'height': '2em',
                                'margin': '0px',
                                'padding':'0px',
                                'width':'50px'
                             }"                     
                    >
                </p-toggleButton>

                <div
                    class="paletteLabel"
                    >
                    Background Color
                </div>
                <p-dropdown
                    [style]="{'width':'160px','margin-top':'3px'}"
                    [options]="chartColor" 
                    [(ngModel)]="selectedBackgroundColor" 
                    placeholder="Background"
                    filter="true"
                    >
                </p-dropdown>

                <div
                    class="paletteLabel"
                    >
                    Border
                </div>
                <p-dropdown
                    [style]="{'width':'160px','margin-top':'3px'}"
                    [options]="borderOptions" 
                    [(ngModel)]="selectedBorder" 
                    placeholder="Border"
                    filter="true"
                    >
                </p-dropdown>

                <div
                    class="paletteLabel"
                    >
                    Shadow
                </div>
                <p-dropdown
                    [style]="{'width':'160px','margin-top':'3px'}"
                    [options]="boxShadowOptions" 
                    [(ngModel)]="selectedBoxShadow" 
                    placeholder="Box Shadow"
                    filter="true"
                    >
                </p-dropdown>

                <div
                    class="paletteLabel"
                    >
                    Text Color
                </div>
                <p-dropdown
                    [style]="{'width':'160px','margin-top':'3px'}"
                    [options]="chartColor" 
                    [(ngModel)]="selectedColor" 
                    placeholder="Color"
                    filter="true"
                    >
                </p-dropdown>

                <div
                    class="paletteLabel"
                    >
                    Font Size
                    <span
                        [style]="{
                                    'margin-left':'6px',
                                    'width':'10px'
                                 }"
                        >
                        {{ selectedContainerFontSize }}
                    </span>
                </div>
                <p-slider 
                    [(ngModel)]="selectedContainerFontSize" 
                    [style]="{
                        'width':'80px',
                        'margin-bottom':'14px',
                        'margin-left':'6px',
                        'margin-top':'6px'
                        }"
                    [min]="0.5" 
                    [max]="3"
                    >
                </p-slider>


            </div>
        </p-accordionTab>

        <p-accordionTab 
            header="Chart"
            >
            Reserved for future use
        </p-accordionTab>
    </p-accordion>    

</div>             <!--END Palette Container-->


<!--Widgets on the Canvas-->
<div 
    class="widgetContainer"
    *ngFor="let w of widgets; let i = index"
    #widgetContainter
    pDraggable="widget"
    (mousedown)="onWidgetResizeMouseDown($event, w.properties.widgetID)"
    (mouseup)="onWidgetResizeMouseUp($event, w.properties.widgetID)"
    (onDragStart)="onWidgetDragStart($event, w.properties.widgetID)"
    (onDragEnd)="onWidgetDragEnd($event, w.properties.widgetID)"
    (click)="onWidgetMouseDown($event, w.properties.widgetID)"
    >

    <!--Container Header boxie-->
    <div
        class=widgetContainerHeader
        [style.height.em]="showContainerHeader == true ? '1' : '0'"
        >

        <!--Widget Drag Handle    -->
        <button
            class="widgetDragHandle"
            [style.color]="isDark ? 'black' : 'lightgray'"
            *ngIf="showContainerHeader"
            pButton
            type="button"
            icon="fa-arrows"
            pTooltip="Click and drag widget" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (mousedown)="onWidgetDragHandleMouseDown(w.properties.widgetID)"
            (mouseup)="onWidgetDragHandleMouseUp()"
            >
        </button> 

        <!--Widget Edit button-->
        <button
            class="widgetEditHandle"
            [style.color]="isDark ? 'black' : 'lightgray'"
            *ngIf="showContainerHeader"
            pButton
            type="button"
            icon="fa-edit"
            pTooltip="Click to edit widget" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="editWidget(w.properties.widgetID)"
            >
        </button> 

        <!--Delete Widget-->
        <button
            class="widgetEditHandle"
            [style.color]="isDark ? 'black' : 'lightgray'"
            *ngIf="showContainerHeader"
            pButton
            type="button"
            icon="fa-minus-square"
            pTooltip="Click to DELETE the widget" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="clickDeleteWidget(w.properties.widgetID)"
            >
        </button> 

        <!--Widget liked -->
        <button
            class="widgetIsLiked"
            [style.color]="isDark ? 'black' : 'lightgray'"
            *ngIf="showContainerHeader"
            [style.color]="w.properties.widgetIsLiked ? 'red' : 'lightgray'"
            pButton
            type="button"
            icon="fa-heart-o"
            pTooltip="Click to toggle between Liked and UnLiked" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="clickWidgetIsLiked(w.properties.widgetID)"
            >
        </button>         

        <!--Widget Locked -->
        <button
            *ngIf="w.properties.widgetIsLocked  &&  showContainerHeader"
            [style.color]="isDark ? 'black' : 'lightgray'"
            class="widgetIsLocked"
            pButton
            type="button"
            icon="fa-lock"
            pTooltip="Click to UNlock.  Cannot edit when locked" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="clickWidgetLockToggle(w.properties.widgetID)"
            >
        </button> 
        <!--Widget UNLocked -->
        <button
            *ngIf="!w.properties.widgetIsLocked  &&  showContainerHeader"
            [style.color]="isDark ? 'black' : 'lightgray'"
            class="widgetIsLocked"
            pButton
            type="button"
            icon="fa-unlock"
            pTooltip="Click to lock.  Cannot edit when locked" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="clickWidgetLockToggle(w.properties.widgetID)"
            >
        </button>         

        <!--Widget Title-->
        <span
            class="widgetTitle"
            *ngIf="showContainerHeader"
            >
            {{w.container.widgetTitle}}
        </span>

        <!--Widget (shift) selected-->
        <button
            *ngIf="widgetShiftSelected(w.properties.widgetID)  &&  showContainerHeader"
            [style.color]="isDark ? 'black' : 'lightgray'"
            class="widgetShiftSelected"
            pButton
            type="button"
            icon="fa-check-square-o"
            pTooltip="This widget has been selected with shift-click  &&  showContainerHeader" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            >
        </button> 

        <!--Widget Comment button-->
        <button
            *ngIf="w.properties.widgetComments  &&  showContainerHeader"
            [style.color]="isDark ? 'black' : 'lightgray'"
            class="widgetCommentButton"
            pButton
            type="button"
            icon="fa-lightbulb-o"
            pTooltip="This widget has a comment" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="showWidgetComment(w.properties.widgetID)"
            >
        </button>         

    <div>          <!--Container Header boxie-->

    <!--Graph content -->
    <div 
        class="widgetGraph"
        #widget
        >
        Graph ...
    </div>         <!--END Graph content ends-->

</div>             <!--END Widgets on the Canvas-->



<!--Section for popup forms and dialogues-->
    <!--Popup Advanced Dashboard Filter-->
    <p-dialog header="Advanced Dashboard Filter" 
        [(visible)]="displayAdvancedDashboardFilter" 
        modal="modal" 
        width="450" 
        responsive="true"
        >

        <dashboardadvancedfilter 
            (formSubmit)="handleFormSubmit($event)" 
            >
        </dashboardadvancedfilter>

    </p-dialog>


    <!--Detail for selected Dashboard -->
    <p-dialog header="Dashboard Details" 
        [(visible)]="displayDashboardDetails" 
        modal="modal" 
        width="450" 
        responsive="true"
        >
        Form to show detail about selected Dashboard, using another component.
    </p-dialog>


    <!--Confirmation Dialogue Box-->
    <p-confirmDialog 
        *ngIf="deleteMode"
        header="Confirmation" 
        icon="fa fa-question-circle" 
        width="425" 
        #cd
        >
        <p-footer>
            <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
        </p-footer>
    </p-confirmDialog>


    <!--Form to edit Widget -->
    <p-dialog header="Widget Editor" 
        [(visible)]="displayEditWidget" 
        modal="modal" 
        resizable="true"
        height="100vw"
        responsive="true"
        >
        <widget-editor 
            [selectedDashboardID]="selectedDashboardID" 
            [selectedDashboardTabName]="selectedDashboardTabName"
            [widgetToEditX]="widgetToEditX"
            [widgetToEditY]="widgetToEditY"
            [widgetToEdit]="widgetToEdit"
            (formSubmit)="handleWidgetBuilderFormSubmit($event)" 
            [addEditMode]="addEditModeWidgetEditor"
            [widgetIDtoEdit]="widgetIDtoEdit"
            [displayEditWidget]="displayEditWidget"
            >
            Loading Widget Builder ...
        </widget-editor>
        
    </p-dialog>

    <!--Form to show / add Widget Comments-->
    <p-dialog header="Comments" 
        [(visible)]="displayCommentsPopup" 
        modal="modal" 
        width="450" 
        responsive="true"
        >
        <widget-comment
            [selectedWidgetID]="selectedCommentWidgetID"
            >
            Loading widget comments ...
        </widget-comment>
    </p-dialog>
<!--END Section for popup forms and dialogues-->