<!--Table with Datasources-->
<p-dataTable
  #dt
        columnResizeMode="expand"
        exportFilename="users"
        [contextMenu]="cm"
        [paginator]="true"
        [pageLinks]="3"
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedDatasource"
        selectionMode="single"
        [scrollable]="false"
        [sortMode]="multiple"
        [value]="datasources"
        (click)="onClickDatasourceTable()"
        >
    <p-column field="datasourceID" header="ID"></p-column>
    <p-column field="datasourceName" header="Name"></p-column>
    <p-column field="datasourceDescription" header="Description"></p-column>
</p-dataTable>


<!--Context (popup) menu  -->
<p-contextMenu #cm [model]="popuMenuItems"></p-contextMenu>


<!--User permissions panel-->
<div
    class="groupMembershipPanel"
    *ngIf="displayUserPermissions"
    >

    <div
        class="userPermissionsHeading"
        >
        User permissions for {{ selectedDatasource.datasourceName }}
        <button
            class="panelButtonWithLabel"
            pButton
            type="button"
            label="Close"
            icon="fa-undo"
            (click)="onClickUserPermissionCancel()"
            >
        </button>
    </div>

    <div>
        <p-dataTable
            [value]="datasourceUserPermissions"
            [(selection)]="selectedUserPermission"
            dataKey="username"
            selectionMode="single"
            >
            <p-column
                field="username"
                header="username"
                [filter]="true"
                >
            </p-column>
            <p-column
                field="canAddPackage"
                header="Add?"
                [filter]="true"
                >
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <p-checkbox
                        name="canAddPackage"
                        binary="true"
                        [(ngModel)]="user[col.field]"
                        (onChange)="onChangeAddUserPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canAssignPermissionPackage"
                header="Assign?"
                [filter]="true"
                >
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <p-checkbox
                        name="canAssignPermissionPackage"
                        binary="true"
                        [(ngModel)]="user[col.field]"
                        (onChange)="onChangeAssignUserPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>

            <p-column
                field="canChangePackage"
                header="Change?"
                [filter]="true"
                >
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <p-checkbox
                        name="canChangePackage"
                        binary="true"
                        [(ngModel)]="user[col.field]"
                        (onChange)="onChangeChangeUserPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canDeletePackage"
                header="Delete?"
                [filter]="true"
                >
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <p-checkbox
                        name="canDeletePackage"
                        binary="true"
                        [(ngModel)]="user[col.field]"
                        (onChange)="onChangeDeleteUserPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canExecutePackage"
                header="Execute?"
                [filter]="true"
                >
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <p-checkbox
                        name="canExecutePackage"
                        binary="true"
                        [(ngModel)]="user[col.field]"
                        (onChange)="onChangeExecuteUserPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canPackageOwnedAccess"
                header="Owned?"
                [filter]="true"
                >
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <p-checkbox
                        name="canPackageOwnedAccess"
                        binary="true"
                        [(ngModel)]="user[col.field]"
                        (onChange)="onChangeOwnedUserPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canPackageSharedAccess"
                header="Shared?"
                [filter]="true"
                >
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <p-checkbox
                        name="canPackageSharedAccess"
                        binary="true"
                        [(ngModel)]="user[col.field]"
                        (onChange)="onChangeSharedUserPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canRemovePermissionPackage"
                header="Remove?"
                [filter]="true"
                >
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <p-checkbox
                        name="canRemovePermissionPackage"
                        binary="true"
                        [(ngModel)]="user[col.field]"
                        (onChange)="onChangeRemoveUserPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canViewPackage"
                header="View?"
                [filter]="true"
                >
                <ng-template let-col let-user="rowData" pTemplate="body">
                    <p-checkbox
                        name="canViewPackage"
                        binary="true"
                        [(ngModel)]="user[col.field]"
                        (onChange)="onChangeViewUserPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>


<!--Group permissions panel-->
<div
    class="groupMembershipPanel"
    *ngIf="displayGroupPermissions"
    >

    <div
        class="userPermissionsHeading"
        >
        Group permissions for {{ selectedDatasource.datasourceName }}
        <button
            class="panelButtonWithLabel"
            pButton
            type="button"
            label="Close"
            icon="fa-undo"
            (click)="onClickGroupPermissionCancel()"
            >
        </button>
    </div>

    <div>
        <p-dataTable
            [value]="datasourceGroupPermissions"
            [(selection)]="selectedGroupPermission"
            dataKey="groupName"
            selectionMode="single"
            >
            <p-column
                field="groupName"
                header="groupName"
                [filter]="true"
                >
            </p-column>
            <p-column
                field="canAddPackage"
                header="Add?"
                [filter]="true"
                >
                <ng-template let-col let-group="rowData" pTemplate="body">
                    <p-checkbox
                        name="canAddPackage"
                        binary="true"
                        [(ngModel)]="group[col.field]"
                        (onChange)="onChangeAddGroupPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canAssignPermissionPackage"
                header="Assign?"
                [filter]="true"
                >
                <ng-template let-col let-group="rowData" pTemplate="body">
                    <p-checkbox
                        name="canAssignPermissionPackage"
                        binary="true"
                        [(ngModel)]="group[col.field]"
                        (onChange)="onChangeAssignGroupPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>

            <p-column
                field="canChangePackage"
                header="Change?"
                [filter]="true"
                >
                <ng-template let-col let-group="rowData" pTemplate="body">
                    <p-checkbox
                        name="canChangePackage"
                        binary="true"
                        [(ngModel)]="group[col.field]"
                        (onChange)="onChangeChangeGroupPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canDeletePackage"
                header="Delete?"
                [filter]="true"
                >
                <ng-template let-col let-group="rowData" pTemplate="body">
                    <p-checkbox
                        name="canDeletePackage"
                        binary="true"
                        [(ngModel)]="group[col.field]"
                        (onChange)="onChangeDeleteGroupPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canExecutePackage"
                header="Execute?"
                [filter]="true"
                >
                <ng-template let-col let-group="rowData" pTemplate="body">
                    <p-checkbox
                        name="canExecutePackage"
                        binary="true"
                        [(ngModel)]="group[col.field]"
                        (onChange)="onChangeExecuteGroupPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canPackageOwnedAccess"
                header="Owned?"
                [filter]="true"
                >
                <ng-template let-col let-group="rowData" pTemplate="body">
                    <p-checkbox
                        name="canPackageOwnedAccess"
                        binary="true"
                        [(ngModel)]="group[col.field]"
                        (onChange)="onChangeOwnedGroupPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canPackageSharedAccess"
                header="Shared?"
                [filter]="true"
                >
                <ng-template let-col let-group="rowData" pTemplate="body">
                    <p-checkbox
                        name="canPackageSharedAccess"
                        binary="true"
                        [(ngModel)]="group[col.field]"
                        (onChange)="onChangeSharedGroupPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canRemovePermissionPackage"
                header="Remove?"
                [filter]="true"
                >
                <ng-template let-col let-group="rowData" pTemplate="body">
                    <p-checkbox
                        name="canRemovePermissionPackage"
                        binary="true"
                        [(ngModel)]="group[col.field]"
                        (onChange)="onChangeRemoveGroupPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
            <p-column
                field="canViewPackage"
                header="View?"
                [filter]="true"
                >
                <ng-template let-col let-group="rowData" pTemplate="body">
                    <p-checkbox
                        name="canViewPackage"
                        binary="true"
                        [(ngModel)]="group[col.field]"
                        (onChange)="onChangeViewGroupPermission($event)"
                        >
                    </p-checkbox>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>


<!--Reports linked-->
<p-dialog
    [(visible)]="displayReports"
    header="Linked Reports"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable [value]="reports">
        <p-column field="reportID" header="ID"></p-column>
        <p-column field="reportName" header="Name"></p-column>
        <p-column field="description" header="Description"></p-column>
        <p-column field="reportParameters" header="Parameters"></p-column>
        <p-column field="dataSourceID" header="DS ID"></p-column>
        <p-column field="dataSourceParameters" header="DS Parameters"></p-column>
        <p-column field="reportFieldsString" header="Fields"></p-column>
    </p-dataTable>
</p-dialog>