<h1>Discussions for Canvas</h1>
<p>This document aims to to enhance understanding of the product with explanations that clarify and illuminate a particular topic.  It gives context, provides an explaining why,
use multiple examples, and alternative approaches while making connections between different
aspects of the system.</p>
<h2>Table of Contentt</h2>
<ol>
<li>Basic philospophy</li>
<li>The flow / steps in creating a report</li>
<li>The actions when running a report</li>
<li>Why some reports take longer / async processing</li>
<li>How a deleted a user is treated</li>
<li>Audit information kept by the system</li>
<li>Explain datastructures in Canvas (ER in words)</li>
<li>Different types and uses of a Dashboard</li>
<li>Dashboard design principles</li>
<li>Problem solving / fault finding</li>
<li>Technology and software used</li>
<li>Design limits</li>
<li></li>
</ol>
<hr>
<h1>MD cheatsheet</h1>
<ul>
<li><a href="https://nodejs.org">node</a></li>
<li><a href="https://www.npmjs.com/package/markdown-it">markdown-it</a></li>
<li><a href="/docs/editor/tasks">tasks.json</a></li>
</ul>
<h2>Section Title</h2>
<blockquote>
<p>This block quote is here for your information.</p>
</blockquote>
<p>List item 1
2.  List item 2
List item 1
List item 2</p>
<ol>
<li>
<p>List item 1 spaced out</p>
</li>
<li>
<p>List item 2 spaced out
with a hanging indent</p>
</li>
<li>
<p>List item 3 spaced out</p>
<p>With an extra paragraph.</p>
<pre><code>And a code block.
</code></pre>
</li>
</ol>
<p>List item 1 spaced out</p>
<p>List item 2 spaced out with a hanging indent</p>
<p>List item 3 spaced out</p>
<p>With an extra paragraph.</p>
<p>And a code block.
2011. Avoiding a list interpretation	2011. Avoiding a list interpretation</p>
<hr>
<p>|              |          Grouping           ||</p>
<table>
<thead>
<tr>
<th>First Header</th>
<th style="text-align:center">Second Header</th>
<th style="text-align:right">Third Header</th>
</tr>
</thead>
<tbody>
<tr>
<td>Content</td>
<td style="text-align:center"><em>Long Cell</em></td>
<td style="text-align:right"></td>
</tr>
<tr>
<td>Content</td>
<td style="text-align:center"><strong>Cell</strong></td>
<td style="text-align:right">Cell</td>
</tr>
</tbody>
</table>
<p>| New section  |     More      |         Data |
| And more     |            And more         ||
[MultiMarkdown Table]</p>
<h1>Heading1</h1>
<h2>Heading2</h2>
<h3>Headings3</h3>
<h4>Heading4</h4>
<h5>Heading5</h5>
<h6>Headings6</h6>
<p><s>Strikethrough</s></p>
<table>
<thead>
<tr>
<th>Tables</th>
<th style="text-align:center">Are</th>
<th style="text-align:right">Cool</th>
</tr>
</thead>
<tbody>
<tr>
<td>col 1 is</td>
<td style="text-align:center">left-aligned</td>
<td style="text-align:right">$100</td>
</tr>
<tr>
<td>col 2 is</td>
<td style="text-align:center">centered</td>
<td style="text-align:right">$52</td>
</tr>
<tr>
<td>col 3 is</td>
<td style="text-align:center">right-aligned</td>
<td style="text-align:right">$9</td>
</tr>
</tbody>
</table>
<p>[⋅] Unchecked Item</p>
<p>[X] Checked Item
-- → –</p>
<p>(C) → ©</p>
<p>(R) → ®</p>
<p>(TM) → ™</p>
<p>(P) → §</p>
<p>+- → ±</p>
<p>' ' → ‘ ’</p>
<p>'' '' → “ ”</p>
