<!--Context (popup) menu  -->
<p-contextMenu #cm [model]="popuMenuItems"></p-contextMenu>


<p-dialog header="New Message" 
    [(visible)]="displayNewMessage" 
    modal="modal" 
    width="610" 
    responsive="true"
    >

    <newmessage 
        [availableUsers]="availableUsers"
        [conversionID]="conversionID"
        [sendToTheseUsers]="sendToTheseUsers"
        [nrUnReadMessagesForMe]="nrUnReadMessagesForMe"
        (formNewMessageSubmit)="handleCanvasMessageFormSubmit($event)" 
        >
        Loading New Message form ...
    </newmessage>

</p-dialog>


<!--Table with group info -->
<div #dt>
    <p-dataTable  #dt
        columnResizeMode="expand"
        exportFilename="groups"
        [contextMenu]="cm"
        [paginator]="true"
        [pageLinks]="3"
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedCanvasMessage"
        selectionMode="single"
        [scrollable]="false"
        [sortMode]="multiple"
        [value]="canvasMessages"
        (click)="onClickMessageTable()"
        >
        <p-header
            [style]="{'background-color': 'darkgray'}">
            <span>
                List of Groups
            </span>
            <span style="float:right"
                class="ui-helper-clearfix csvButton"
                >
                <button
                    type="button"
                    pButton
                    icon="fa-file-o"
                    iconPos="left"
                    label="CSV"
                    (click)="dt.exportCSV()"
                    >
                </button>
            </span>

        </p-header>
        <p-column
            field="canvasMessageID"
            [filter]="true"
            filterMatchMode="contains"
            header="ID"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageConversationID"
            [filter]="true"
            filterMatchMode="contains"
            header="Convers. ID"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageSenderUserName"
            [filter]="true"
            filterMatchMode="contains"
            header="Sender"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageSentDateTime"
            [filter]="true"
            filterMatchMode="contains"
            header="Sent on"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageSubject"
            [filter]="true"
            filterMatchMode="contains"
            header="Subject"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageBody"
            [filter]="true"
            filterMatchMode="contains"
            header="Body"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageSentToMe"
            [filter]="true"
            filterMatchMode="contains"
            header="To me?"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageMyStatus"
            [filter]="true"
            filterMatchMode="contains"
            header="My Status"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageIsSystemGenerated"
            [filter]="true"
            filterMatchMode="contains"
            header="System?"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageDashboardID"
            [filter]="true"
            filterMatchMode="contains"
            header="Dashboard ID"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageReportID"
            [filter]="true"
            filterMatchMode="contains"
            header="Report ID"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="canvasMessageWidgetID"
            [filter]="true"
            filterMatchMode="contains"
            header="Widget ID"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
    </p-dataTable>
</div>
