<p 
    class="iserror" 
    *ngIf="formIsValid"> 
    {{ errorMessageOnForm }}
</p>


<form 
    class="formBody"
    [formGroup]="configForm" 
    >
    <div 
        class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" 
        style="margin: 10px 0px">

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                User Name:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="username" 
                       placeholder="Required"
                       readonly
                       >
            </div>

            <div class="ui-grid-col-2">
                First Name:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="first_name" 
                       readonly
                       >
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Last Name:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="last_name" 
                       readonly
                       >
            </div>

            <div class="ui-grid-col-2">
                Email:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                       type="text" 
                       formControlName="email" 
                       readonly
                       >
            </div>
        </div>
    </div>
</form> 

