<!--Error message, IF any-->
<p
    class="iserror"
    *ngIf="formIsValid">
    {{ errorMessageOnForm }}
</p>


<!--Individual User fields-->
<form
    class="formBody"
    [formGroup]="configForm"
    >
    <div
        class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
        style="margin: 10px 0px">

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                User Name:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                       type="text"
                       formControlName="username"
                       placeholder="Required"
                       readonly
                       >
            </div>

            <div class="ui-grid-col-2">
                First Name:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                       type="text"
                       formControlName="first_name"
                       readonly
                       >
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Last Name:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                       type="text"
                       formControlName="last_name"
                       readonly
                       >
            </div>

            <div class="ui-grid-col-2">
                Email:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                       type="text"
                       formControlName="email"
                       readonly
                       >
            </div>
        </div>
    </div>
</form>


<!--Tabview with tables-->
<p-tabView>
    <!--Tables-->
    <p-tabPanel header="My Groups">
        <div>
            <p-dataTable  #dt
                columnResizeMode="expand"
                exportFilename="groups"
                [paginator]="false"
                [pageLinks]="3"
                [reorderableColumns]="true"
                [resizableColumns]="true"
                [responsive]="true"
                [rows]="10"
                [rowsPerPageOptions]="[5,10,20]"
                [(selection)]="selectedGroup"
                selectionMode="single"
                [scrollable]="true"
                [sortMode]="multiple"
                [value]="groups"
                >
                <p-header
                    [style]="{'background-color': 'darkgray'}">
                    <span>
                        List of Groups
                    </span>
                    <span style="float:right"
                        class="ui-helper-clearfix csvButton"
                        >
                        <button
                            type="button"
                            pButton
                            icon="fa-file-o"
                            iconPos="left"
                            label="CSV"
                            (click)="dt.exportCSV()"
                            >
                        </button>
                    </span>

                </p-header>
                <p-column
                    field="groupID"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="ID"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="groupName"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Name"
                    [sortable]="true"
                    [style]="{width: '120px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="groupDescription"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Description"
                    [sortable]="true"
                    [style]="{width: '320px',
                            'text-align': 'center'}"            >
                </p-column>
            </p-dataTable>
        </div>
    </p-tabPanel>

    <!--Data Sources-->
    <p-tabPanel header="My Datasources">
        <p-dataTable [value]="datasources">
            <p-column field="datasourceID" header="ID"></p-column>
            <p-column field="datasourceName" header="Name"></p-column>
            <p-column field="datasourceDescription" header="Description"></p-column>
        </p-dataTable>
    </p-tabPanel>

    <!--Reports I own-->
    <p-tabPanel header="Reports I own">
        <p-dataTable [value]="reports">
            <p-column field="reportID" header="ID"></p-column>
            <p-column field="reportName" header="Name"></p-column>
            <p-column field="description" header="Description"></p-column>
            <p-column field="reportParameters" header="Parameters"></p-column>
            <p-column field="dataSourceID" header="DS ID"></p-column>
            <p-column field="dataSourceParameters" header="DS Parameters"></p-column>
            <p-column field="reportFieldsString" header="Fields"></p-column>
        </p-dataTable>
    </p-tabPanel>

    <!--Dashboards I own-->
    <p-tabPanel header="Dashboards I own">

        <!--Table with Dashboard info -->
        <div>
            <p-dataTable  #dt
                columnResizeMode="expand"
                exportFilename="dashboards"
                [contextMenu]="cm"
                [paginator]="true"
                [pageLinks]="3"
                [reorderableColumns]="true"
                [resizableColumns]="true"
                [responsive]="true"
                [rows]="10"
                [rowsPerPageOptions]="[5,10,20]"
                selectionMode="single"
                [scrollable]="false"
                [sortMode]="multiple"
                [value]="dashboardsIown"
                >
                <p-header
                    [style]="{'background-color': 'darkgray'}">
                    <span>
                        List of Dashboards
                    </span>
                    <span style="float:right"
                        class="ui-helper-clearfix csvButton"
                        >
                        <button
                            type="button"
                            pButton
                            icon="fa-file-o"
                            iconPos="left"
                            label="CSV"
                            (click)="dt.exportCSV()"
                            >
                        </button>
                    </span>

                </p-header>

                <p-column
                    field="dashboardID"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="ID"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardCode"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Code"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardName"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Name"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="isContainerHeaderDark"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Dark Hdr?"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="showContainerHeader"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Show Hdr"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardBackgroundColor"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Bg Color"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardBackgroundImageSrc"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Bg Image"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardComments"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Comments"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardDefaultExportFileType"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Export FType"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardDescription"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Description"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardIsLocked"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Locked?"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardIsLiked"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Liked?"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardOpenTabNr"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Open TabNr"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardOwners"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Owner"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardPassword"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Password"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardRefreshMode"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="RefreshMode"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardRefreshFrequency"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="RefreshFreq"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardNrUsersSharedWith"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="#Usr SharedWith"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardSystemMessage"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="SystemMessage"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardRefreshedDateTime"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Refreshed on"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardRefreshedUserName"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Refreshed by"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardUpdatedDateTime"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Updated on"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardUpdatedUserName"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Updated by"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardCreatedDateTime"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Created on"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardCreatedUserName"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Created by"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>

            </p-dataTable>
        </div>
    </p-tabPanel>

    <!--Dashboards shared with me-->
    <p-tabPanel header="Dashboards shared with me">

        <!--Table with Dashboards shared with me-->
        <div>
            <p-dataTable  #dt
                columnResizeMode="expand"
                exportFilename="dashboards"
                [contextMenu]="cm"
                [paginator]="true"
                [pageLinks]="3"
                [reorderableColumns]="true"
                [resizableColumns]="true"
                [responsive]="true"
                [rows]="10"
                [rowsPerPageOptions]="[5,10,20]"
                selectionMode="single"
                [scrollable]="false"
                [sortMode]="multiple"
                [value]="dashboardsSharedWithMe"
                >
                <p-header
                    [style]="{'background-color': 'darkgray'}">
                    <span>
                        List of Dashboards
                    </span>
                    <span style="float:right"
                        class="ui-helper-clearfix csvButton"
                        >
                        <button
                            type="button"
                            pButton
                            icon="fa-file-o"
                            iconPos="left"
                            label="CSV"
                            (click)="dt.exportCSV()"
                            >
                        </button>
                    </span>

                </p-header>

                <p-column
                    field="dashboardID"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="ID"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardCode"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Code"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardName"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Name"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="isContainerHeaderDark"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Dark Hdr?"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="showContainerHeader"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Show Hdr"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardBackgroundColor"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Bg Color"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardBackgroundImageSrc"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Bg Image"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardComments"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Comments"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardDefaultExportFileType"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Export FType"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardDescription"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Description"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardNrGroups"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Nr Groups"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardIsLocked"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Locked?"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardIsLiked"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Liked?"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardOpenTabNr"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Open TabNr"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardOwners"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Owner"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardPassword"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Password"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardRefreshMode"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="RefreshMode"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardRefreshFrequency"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="RefreshFreq"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardNrUsersSharedWith"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="#Usr SharedWith"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardSystemMessage"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="SystemMessage"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardRefreshedDateTime"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Refreshed on"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardRefreshedUserName"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Refreshed by"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardUpdatedDateTime"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Updated on"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardUpdatedUserName"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Updated by"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardCreatedDateTime"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Created on"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>
                <p-column
                    field="dashboardCreatedUserName"
                    [filter]="false"
                    filterMatchMode="contains"
                    header="Created by"
                    [sortable]="true"
                    [style]="{width: '80px',
                            'text-align': 'center'}"
                    >
                </p-column>

            </p-dataTable>
        </div>
    </p-tabPanel>


    <!--History of Reports I ran-->
    <p-tabPanel header="Reports I ran">
        <p-dataTable [value]="reportHistory">
            <p-column field="reportHistoryID" header="ID"></p-column>
            <p-column field="reportHistoryUserName" header="User"></p-column>
            <p-column field="reportHistoryReportID" header="ReportID"></p-column>
            <p-column field="reportHistoryDatasourceID" header="Comments"></p-column>
            <p-column field="reportHistoryChecksum" header="Comments"></p-column>
            <p-column field="reportHistoryStartDateTime" header="Start on"></p-column>
            <p-column field="reportHistoryEndDateTime" header="End on"></p-column>
            <p-column field="reportHistoryStatus" header="Status"></p-column>
            <p-column field="reportHistoryNrRowsReturned" header="Nr Rows"></p-column>
        </p-dataTable>
    </p-tabPanel>
</p-tabView>