<!--Errors-->
<p 
    class="iserror" 
    style="color:#D8000C;"
    *ngIf="formIsValid"> 
    {{ errorMessageOnForm }}
</p>

<!--Form for New Message-->
<form 
    [formGroup]="userform" 
    >
    <div 
        class="ui-grid-row"
        style="margin-bottom: 8px;"
        >
        Nr of UnRead messages: {{ nrUnReadMessagesForMe }}
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            Subject :
        </div>
        <div class="ui-grid-col-8">
            <input pInputText 
                    type="text" 
                    formControlName="messageSubject" 
                    placeholder="Required"
                    >
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            Body :
        </div>
        <div class="ui-grid-col-8">
            <input pInputText 
                    type="text" 
                    formControlName="messageBody" 
                    placeholder="Required"
                    >
        </div>
    </div>

    <div
        style="margin-top:20px;"
        >
        <p-pickList 
            [source]="availableUsers" 
            [target]="sendToTheseUsers"
            sourceHeader="Available Users"
            targetHeader="Send to these Users"
            (onMoveToTarget)="onMoveToTargetDashboardSendTo($event)"
            (onMoveToSource)="onMoveToSourceDashboardSendTo($event)"
            >
            <ng-template let-grp pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div 
                        style="font-size:14px;float:left;margin:15px 5px 0 0"
                        >
                        {{ grp }}
                    </div>
                </div>
            </ng-template>
        </p-pickList>

    </div>

    <!--Buttun Area contains Cancel / Submit-->
    <div
        class="panelButtonArea"
        > 
        <button 
            class="panelButtonWithLabel"
            pButton 
            type="button" 
            label="Cancel"
            icon="fa-undo"
            (click)="onClickCancel()"
            >
        </button>
        <button 
            class="panelButtonWithLabel"
            pButton 
            type="submit" 
            label="Submit" 
            icon="fa-refresh"
            (click)="onClickSubmit()"
            >
        </button>
    </div>


</form> 