<!--Errors-->
<p 
    class="iserror" 
    style="color:#D8000C;"
    *ngIf="formIsValid"> 
    {{ errorMessageOnForm }}
</p>


<!--Previous form-->
<form
    [formGroup]="userformPreviousMessage"
    *ngIf="displayPreviousMessage"
    >
    <b>Previous message</b>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            Sender :
        </div>
        <div class="ui-grid-col-8">
            <input pInputText 
                    type="text" 
                    formControlName="previousMessageSender" 
                    readonly
                    >
        </div>
    </div>

    <div class="ui-grid-row">        
        <div class="ui-grid-col-4">
            Subject :
        </div>
        <div class="ui-grid-col-8">
            <input pInputText 
                    type="text" 
                    formControlName="previousMessageSubject" 
                    readonly
                    >
        </div>
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            Body :
        </div>
        <div class="ui-grid-col-8">
            <textarea
                pInputTextarea
                formControlName="previousMessageBody"
                readonly
                >  
            </textarea>                      
        </div>
    </div>
    
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            Recipients :
        </div>
        <div class="ui-grid-col-8">
            <textarea
                pInputTextarea
                formControlName="previousMessageRecipients"
                readonly
                >  
            </textarea> 
        </div>
    </div>

    <br><br>
    <b>Your reply</b>
</form>

<!--Form for New Message-->
<form 
    [formGroup]="userformNewMessage" 
    >
    <div 
        class="ui-grid-row"
        style="margin-bottom: 8px;"
        >
        Nr of UnRead messages: {{ nrUnReadMessagesForMe }}
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            Subject :
        </div>
        <div class="ui-grid-col-8">
            <input pInputText 
                    type="text" 
                    formControlName="messageSubject" 
                    placeholder="Required"
                    >
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            Body :
        </div>
        <div class="ui-grid-col-8">
                <textarea
                    pInputTextarea
                    formControlName="messageBody"
                    >  
                </textarea>                      

        </div>
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            Link :
        </div>

        <div class="ui-grid-col-8">

            <p-dropdown
                [options]="dashboardDropDown"
                [style]="{
                            'background-color':'538cc6',
                            'border':'1px solid #204060',
                            'border-radius':'2px',
                            'font-size':'0.85em',
                            'margin-bottom':'4px',
                            'margin-left':'4px',
                            'padding':'0',
                            'width':'197px'
                        }"
                placeholder="Dashboard to link"
                filter="true"
                formControlName="messageDashboardID"
                onFocus="onFocusDashboardDropdown()"
                >
            </p-dropdown>
        </div>
    </div>

    <div
        style="margin-top:20px;"
        >
        <p-pickList 
            [source]="availableUsers" 
            [target]="sendToTheseUsers"
            sourceHeader="Available Users"
            targetHeader="Send to these Users"
            (onMoveToTarget)="onMoveToTargetDashboardSendTo($event)"
            (onMoveToSource)="onMoveToSourceDashboardSendTo($event)"
            >
            <ng-template let-grp pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div 
                        style="font-size:14px;float:left;margin:15px 5px 0 0"
                        >
                        {{ grp }}
                    </div>
                </div>
            </ng-template>
        </p-pickList>

    </div>

    <!--Buttun Area contains Cancel / Submit-->
    <div
        class="panelButtonArea ui-grid-row"
        > 

        <button 
            class="panelButtonWithLabelLeft"
            pButton 
            type="button" 
            label="Cancel"
            icon="fa-undo"
            (click)="onClickCancel()"
            >

        </button>
        <button 
            class="panelButtonWithLabelRight"
            pButton 
            type="submit" 
            label="Submit" 
            icon="fa-refresh"
            (click)="onClickSubmit()"
            >
        </button>
    </div>


</form> 