.panelButtonWithLabelLeft {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 2px;
    color: gray;
    float: left;
    height: 25px;
    margin: 2px 2px 2px 30px;
    padding: 1px;
    width: 85px;
}

.panelButtonWithLabelRight {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 2px;
    color: gray;
    float: right;
    height: 25px;
    margin: 2px 30px 2px 2px;
    padding: 1px;
    width: 85px;
}