<p
    class="iserror"
    *ngIf="formIsValid">
    {{ errorMessageOnForm }}
</p>


<form
    class="formBody"
    [formGroup]="configForm"
    >
    <div
        class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
        style="margin: 10px 0px">

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                StartupDash :
            </div>
            <div class="ui-grid-col-4">
                <p-dropdown
                    [options]="dashboardDropDown"
                    [(ngModel)]="selectedDashboard"
                    [style]="{
                            'autofocus':'true',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'margin':'-2px 5px 0 0',
                            'padding':'0',
                            'width':'300px'
                            }"
                    placeholder="(Optional)"
                    formControlName="dashboardStartupName"
                    (onChange)="onChangeLoadDashboardTabs($event)"
                    filter="true"
                    >
                </p-dropdown>
            </div>
            <div class="ui-grid-col-2">
                Startup Tab :
            </div>
            <div class="ui-grid-col-4">

                <p-dropdown
                    [options]="dashboardTabsDropDown"
                    [(ngModel)]="selectedDashboardTab"
                    [style]="{
                            'autofocus':'true',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'margin':'-2px 5px 0 0',
                            'padding':'0',
                            'width':'300px'
                            }"
                    placeholder="Tab to open"
                    formControlName="startupDashboardTabID"
                    filter="true"
                    >
                </p-dropdown>
            </div>

        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Environment:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                        type="text"
                        formControlName="environment"
                        placeholder="(Optional)"
                        pTooltip="Enter your environment (Life, Test-Environment-Name)"
                        tooltipPosition="top"
                        />
            </div>

            <div class="ui-grid-col-2">
                Avg Runtime:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                        type="text"
                        placeholder="Required"
                        formControlName="averageWarningRuntime"
                        pTooltip="Warn user if a report is known to run longer than this averag RunTime in minutes"
                        tooltipPosition="top"
                        >
            </div>

        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                ColorScheme :
            </div>
            <div class="ui-grid-col-4">
                <p-dropdown
                    [options]="chartColor"
                    [(ngModel)]="selectedFrontendColorScheme"
                    [style]="{
                            'autofocus':'true',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'margin':'-2px 5px 0 0',
                            'padding':'0',
                            'width':'300px'
                            }"
                    placeholder="Required"
                    formControlName="frontendColorScheme"
                    filter="true"
                    >
                </p-dropdown>
            </div>

            <div class="ui-grid-col-2">
                Widget Config:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                        type="text"
                        formControlName="defaultWidgetConfiguration"
                        placeholder="(Optional)"
                        pTooltip="Default configuration for new Widgets"
                        tooltipPosition="top"
                        >
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                RptFilters:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                        type="text"
                        formControlName="defaultReportFilters"
                        placeholder="(Optional)"
                        pTooltip="Default Report Filters"
                        tooltipPosition="top"
                        >
            </div>

            <div class="ui-grid-col-2">
                growlSticky:
            </div>
            <div class="ui-grid-col-4">
                <p-checkbox
                    class="pcheckbox"
                    pTooltip="Check to make the popup messages (Growls) remain (sticky)"
                    formControlName="growlSticky"
                    [(ngModel)]="growlSticky"
                    binary="true"
                    >
                </p-checkbox>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                GrowlLife:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                        type="text"
                        formControlName="growlLife"
                        placeholder="Required"
                        pTooltip="Duration for messages (grow) to be displayed in milliseconds"
                        tooltipPosition="top"
                        >
            </div>

            <div class="ui-grid-col-2">
                Grid Size:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText
                        type="text"
                        formControlName="gridSize"
                        placeholder="Required"
                        pTooltip="Size of grid on Dashboard in px"
                        tooltipPosition="top"
                        >
            </div>
        </div>

        <div class="ui-grid-row">

            <div class="ui-grid-col-2">
                SnapToGrid?:
            </div>
            <div class="ui-grid-col-4">
                <p-checkbox
                    class="pcheckbox"
                    pTooltip="Check to snap Widgets on the Dashboard to the Grid"
                    formControlName="snapToGrid"
                    [(ngModel)]="snapToGrid"
                    binary="true"
                    >
                </p-checkbox>
            </div>
        </div>
    </div>
</form>


<!--Toolbar-->
<p-toolbar>

    <div class="ui-toolbar-group-left">
        <button
            pButton
            type="button"
            label="Reset"
            icon="fa-undo"
            (click)="loadForm()"
            >
        </button>
    </div>

    <div class="ui-toolbar-group-right">
        <button
            pButton
            type="submit"
            label="Submit"
            icon="fa-refresh"
            (click)="onSubmit()"
            >
        </button>
    </div>
</p-toolbar>
