<p 
    class="iserror" 
    *ngIf="formIsValid"> 
    {{ errorMessageOnForm }}
</p>


<form 
    class="formBody"
    [formGroup]="configForm" 
    >
    <div 
        class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" 
        style="margin: 10px 0px">

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                StartupDash : 
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="dashboardIDStartup" 
                        placeholder="(Optional)"
                        pTooltip="Enter Dashboard ID to show at start"
                        tooltipPosition="top"
                        autofocus
                        />
            </div>

            <div class="ui-grid-col-2">
                Environment: 
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="environment" 
                        placeholder="(Optional)"
                        pTooltip="Enter your environment (Life, Test-Environment-Name)"
                        tooltipPosition="top"
                        />
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Avg Runtime:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        placeholder="Required"
                        formControlName="averageWarningRuntime"
                        pTooltip="Warn user if a report is known to run longer than this averag RunTime in minutes"
                        tooltipPosition="top"
                        >
            </div>

            <div class="ui-grid-col-2">
                Keep Dev:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="keepDevLoggedIn"
                        placeholder="(Optional)"
                        pTooltip="Click to keep user logged in Development Environment"
                        tooltipPosition="top"
                    >
            </div>
        </div>
        
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                ColorScheme :
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="frontendColorScheme"
                        placeholder="(Optional)"
                        pTooltip="Select a Color Scheme for Canvas"
                        tooltipPosition="top"
                    >
            </div>

            <div class="ui-grid-col-2">
                Widget Config:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="defaultWidgetConfiguration"
                        placeholder="(Optional)"
                        pTooltip="Default configuration for new Widgets"
                        tooltipPosition="top"
                        >
            </div>

        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                RptFilters:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="defaultReportFilters"
                        placeholder="(Optional)"
                        pTooltip="Default Report Filters"
                        tooltipPosition="top"
                        >
            </div>

            <div class="ui-grid-col-2">
                growlSticky:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="growlSticky"
                        placeholder="(Optional)"
                        pTooltip="True if the growl must be Sticky (stay)"
                        tooltipPosition="top"
                        >
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                GrowlLife:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="growlLife"
                        placeholder="Required"
                        pTooltip="Duration for messages (grow) to be displayed"
                        tooltipPosition="top"
                        >
            </div>

            <div class="ui-grid-col-2">
                Grid Size:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="gridSize"
                        placeholder="Required"
                        pTooltip="Size of grid on Dashboard in px"
                        tooltipPosition="top"
                        >
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                SnapToGrid?:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText 
                        type="text" 
                        formControlName="snapToGrid"
                        placeholder="(Optional)"
                        pTooltip="Check to snap Widgets on the Dashboard to the Grid"
                        tooltipPosition="top"
                        >
            </div>
        </div>
    </div>
</form> 


<!--Toolbar-->
<p-toolbar>

    <div class="ui-toolbar-group-left">
        <button 
            pButton 
            type="button" 
            label="Cancel"
            icon="fa-undo"
            (click)="onClickCancel()"
            >
        </button>
    </div>
    
    <div class="ui-toolbar-group-right">
        <button 
            pButton 
            type="submit" 
            label="Submit" 
            icon="fa-refresh"
            (click)="onSubmit()"
            >
        </button>
    </div>
</p-toolbar>
