<p-dataTable 
  #dt
        columnResizeMode="expand"
        exportFilename="reports"
        [contextMenu]="cm"
        [paginator]="true" 
        [pageLinks]="3" 
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10" 
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedReport"
        selectionMode="single" 
        [scrollable]="false"  
        [sortMode]="multiple"
        [value]="reports"  
        (click)="onClickReportTable()"
        >    
    <p-column field="reportID" header="ID"></p-column>
    <p-column field="reportName" header="Name"></p-column>
    <p-column field="description" header="Description"></p-column>
    <p-column field="reportParameters" header="Parameters"></p-column>
    <p-column field="dataSourceID" header="DS ID"></p-column>
    <p-column field="dataSourceParameters" header="DS Parameters"></p-column>
    <p-column field="reportFields" header="Fields"></p-column>
</p-dataTable>


<!--Context (popup) menu  -->
<p-contextMenu #cm [model]="popuMenuItems"></p-contextMenu>


<!--Popup for User Access-->
<p-dialog 
    [(visible)]="displayUserAccess"
    header="Users with access"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable  #dt
        columnResizeMode="expand"
        exportFilename="users"
        [contextMenu]="cm"
        [paginator]="true" 
        [pageLinks]="3" 
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10" 
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedReport"
        selectionMode="single" 
        [scrollable]="false"  
        [sortMode]="multiple"
        [value]="users"  
        >
        <p-header
            [style]="{'background-color': 'darkgray'}">
            <span>
                List of Users with Access
            </span>
            <span style="float:right"
                class="ui-helper-clearfix csvButton"
                >
                <button 
                    type="button" 
                    pButton 
                    icon="fa-file-o" 
                    iconPos="left" 
                    label="CSV" 
                    (click)="dt.exportCSV()" 
                    >
                </button>
            </span>
            
        </p-header>
        <p-column 
            field="username" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="UserName" 
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="firstName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="FirstName" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="lastName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="LastName" 
            [sortable]="true"
            >
        </p-column>
        <p-column field="nickName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="NickName"
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="lastDatetimeLoggedIn" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Last Login" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="emailAddress" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Email" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="cellNumber" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Cell" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="workTelephoneNumber" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Work Tel" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="activeFromDate" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Active From" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="inactiveDate" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Inactive Date" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="isStaff" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Is Staff" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
    </p-dataTable>
</p-dialog>


<!--Popup for Group Access-->
<p-dialog 
    [(visible)]="displayGroupAccess"
    header="Groups with access"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable  #dt
        columnResizeMode="expand"
        exportFilename="groups"
        [paginator]="false" 
        [pageLinks]="3" 
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10" 
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedReport"
        selectionMode="single" 
        [scrollable]="true"  
        [sortMode]="multiple"
        [value]="groups"  
        >
        <p-header
            [style]="{'background-color': 'darkgray'}">
            <span>
                List of Groups
            </span>
            <span style="float:right"
                class="ui-helper-clearfix csvButton"
                >
                <button 
                    type="button" 
                    pButton 
                    icon="fa-file-o" 
                    iconPos="left" 
                    label="CSV" 
                    (click)="dt.exportCSV()" 
                    >
                </button>
            </span>
            
        </p-header>
        <p-column 
            field="groupID" 
            [filter]="false" 
            filterMatchMode="contains" 
            header="ID" 
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="groupName" 
            [filter]="false" 
            filterMatchMode="contains" 
            header="Name" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="groupDescription" 
            [filter]="false" 
            filterMatchMode="contains" 
            header="Description" 
            [sortable]="true"
            [style]="{width: '320px', 
                    'text-align': 'center'}"            >
        </p-column>
    </p-dataTable>
</p-dialog>


<!--Popup for Report History-->
<p-dialog 
    [(visible)]="displayReportHistory"
    header="Report History"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable [value]="reportHistory">
        <p-column field="reportHistoryID" header="ID"></p-column>
        <p-column field="username" header="User"></p-column>
        <p-column field="reportID" header="ReportID"></p-column>
        <p-column field="reportHistoryStartDateTime" header="Start on"></p-column>
        <p-column field="reportHistoryEndDateTime" header="End on"></p-column>
        <p-column field="reportHistoryStatus" header="Status"></p-column>
        <p-column field="reportHistoryNrRowsReturned" header="Nr Rows"></p-column>
        <p-column field="reportHistoryComments" header="Comments"></p-column>
    </p-dataTable>
</p-dialog>


<!--Popup for New Widget-->
<p-dialog header="New Widget" 
    [(visible)]="displayNewWidgetForm" 
    modal="modal" 
    height="450"
    width="600" 
    responsive="true"
    >

    <widget-new 
        [selectedReport]="selectedReport"
        (formSubmit)="handleNewWidgetFormSubmit($event)" 
        >
        Loading New Widget form ...
    </widget-new>

</p-dialog>
