<p-dataTable [value]="reports">
    <p-column field="reportID" header="ID"></p-column>
    <p-column field="reportName" header="Name"></p-column>
    <p-column field="description" header="Description"></p-column>
    <p-column field="reportParameters" header="Parameters"></p-column>
    <p-column field="dataSourceID" header="DS ID"></p-column>
    <p-column field="dataSourceParameters" header="DS Parameters"></p-column>
    <p-column field="reportFields" header="Fields"></p-column>
</p-dataTable>