<p-dataTable
  #dt
        columnResizeMode="expand"
        exportFilename="reports"
        [contextMenu]="cm"
        [paginator]="true"
        [pageLinks]="3"
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedReport"
        selectionMode="single"
        [scrollable]="false"
        [sortMode]="multiple"
        [value]="reports"
        (click)="onClickReportTable()"
        >
    <p-column field="reportID" header="ID"></p-column>
    <p-column field="reportCode" header="Code"></p-column>
    <p-column field="reportName" header="Name"></p-column>
    <p-column field="description" header="Description"></p-column>
    <p-column field="reportParameters" header="Parameters"></p-column>
    <p-column field="dataSourceID" header="DS ID"></p-column>
    <p-column field="dataSourceParameters" header="DS Parameters"></p-column>
    <p-column field="reportFieldsString" header="Fields"></p-column>
</p-dataTable>


<!--Context (popup) menu  -->
<p-contextMenu #cm [model]="popuMenuItems"></p-contextMenu>





<!--User permissions panel-->
<div
    class="groupMembershipPanel"
    *ngIf="displayUserPermissions"
    >

    <div
        class="userPermissionsHeading"
        >
        User permissions for {{ selectedReport.reportName }}
        <button
            class="panelButtonWithLabel"
            pButton
            type="button"
            label="Close"
            icon="fa-undo"
            (click)="onClickUserPermissionCancel()"
            >
        </button>
    </div>

    <div>
        <p-dataTable
            [value]="datasourceUserPermissions"
            [(selection)]="selectedUserPermission"
            dataKey="username"
            selectionMode="single"
            >
            <p-column
                field="username"
                header="username"
                [filter]="true"
                >
            </p-column>
            <p-column
                field="canAddPackage"
                header="Add?"
                >
            </p-column>
            <p-column
                field="canAssignPermissionPackage"
                header="Assign?"
                >
            </p-column>

            <p-column
                field="canChangePackage"
                header="Change?"
                >
            </p-column>
            <p-column
                field="canDeletePackage"
                header="Delete?"
                >
            </p-column>
            <p-column
                field="canExecutePackage"
                header="Execute?"
                >
            </p-column>
            <p-column
                field="canPackageOwnedAccess"
                header="Owned?"
                >
            </p-column>
            <p-column
                field="canPackageSharedAccess"
                header="Shared?"
                >
            </p-column>
            <p-column
                field="canRemovePermissionPackage"
                header="Remove?"
                >
            </p-column>
            <p-column
                field="canViewPackage"
                header="View?"
                >
            </p-column>
        </p-dataTable>
    </div>
</div>


<!--Popup for Group Access-->
<p-dialog
    [(visible)]="displayGroupAccess"
    header="Groups with access"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable  #dt
        columnResizeMode="expand"
        exportFilename="groups"
        [paginator]="false"
        [pageLinks]="3"
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedReport"
        selectionMode="single"
        [scrollable]="true"
        [sortMode]="multiple"
        [value]="groups"
        >
        <p-header
            [style]="{'background-color': 'darkgray'}">
            <span>
                List of Groups
            </span>
            <span style="float:right"
                class="ui-helper-clearfix csvButton"
                >
                <button
                    type="button"
                    pButton
                    icon="fa-file-o"
                    iconPos="left"
                    label="CSV"
                    (click)="dt.exportCSV()"
                    >
                </button>
            </span>

        </p-header>
        <p-column
            field="groupID"
            [filter]="false"
            filterMatchMode="contains"
            header="ID"
            [sortable]="true"
            [style]="{width: '80px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="groupName"
            [filter]="false"
            filterMatchMode="contains"
            header="Name"
            [sortable]="true"
            [style]="{width: '120px',
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column
            field="groupDescription"
            [filter]="false"
            filterMatchMode="contains"
            header="Description"
            [sortable]="true"
            [style]="{width: '320px',
                    'text-align': 'center'}"            >
        </p-column>
    </p-dataTable>
</p-dialog>


<!--Popup for Report History-->
<p-dialog
    [(visible)]="displayReportHistory"
    header="Report History"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable [value]="reportHistory">
            <p-column field="reportHistoryID" header="ID"></p-column>
            <p-column field="reportHistoryUserName" header="User"></p-column>
            <p-column field="reportHistoryReportID" header="ReportID"></p-column>
            <p-column field="reportHistoryDatasourceID" header="Comments"></p-column>
            <p-column field="reportHistoryChecksum" header="Comments"></p-column>
            <p-column field="reportHistoryStartDateTime" header="Start on"></p-column>
            <p-column field="reportHistoryEndDateTime" header="End on"></p-column>
            <p-column field="reportHistoryStatus" header="Status"></p-column>
            <p-column field="reportHistoryNrRowsReturned" header="Nr Rows"></p-column>
    </p-dataTable>
</p-dialog>


<!--Popup for New Widget-->
<p-dialog header="New Widget"
    [(visible)]="displayNewWidgetForm"
    modal="modal"
    height="450"
    width="600"
    responsive="true"
    >

    <widget-new
        [selectedReport]="selectedReport"
        (formSubmit)="handleNewWidgetFormSubmit($event)"
        >
        Loading New Widget form ...
    </widget-new>

</p-dialog>


<!--Popup for Report Builder-->
<p-dialog header="New Widget"
    [(visible)]="displayReportBuilderForm"
    modal="modal"
    height="450"
    width="600"
    responsive="true"
    >

    <report-builder
        [selectedReport]="selectedReport"
        (formSubmit)="handleReportBuilderFormSubmit($event)"
        >
        Loading Report Builder form ...
    </report-builder>

</p-dialog>
