    <!--Errors-->
    <p
        class="iserror"
        *ngIf="formIsValid">
        {{ errorMessageOnForm }}
    </p>


    <form
        [formGroup]="userform"
        >
        <div
            class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
            style="margin: 10px 0px"
            >
            Report Builder - detail to follow ... <br>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    HostName/IP :
                </div>
                <div class="ui-grid-col-8">
                    <input pInputText
                    type="text"
                    formControlName="hostName"
                    placeholder="Required"
                    pTooltip="Enter Host Name or IP address"
                    tooltipPosition="top"
                    autofocus
                    />
                </div>
                <div class="ui-grid-col-4">
                    Port :
                </div>
                <div class="ui-grid-col-8">
                    <input pInputText
                    type="text"
                    formControlName="port"
                    placeholder="(Optional)"
                    pTooltip="Enter port number"
                    tooltipPosition="top"
                    autofocus
                    />
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    Database :
                </div>
                <div class="ui-grid-col-8">
                    <input pInputText
                    type="text"
                    formControlName="database"
                    placeholder="Required"
                    pTooltip="Enter Database Name"
                    tooltipPosition="top"
                    autofocus
                    />
                </div>
                <div class="ui-grid-col-4">
                    User :
                </div>
                <div class="ui-grid-col-8">
                    <input pInputText
                    type="text"
                    formControlName="userName"
                    placeholder="Required"
                    pTooltip="Enter user name"
                    tooltipPosition="top"
                    autofocus
                    />
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    Password :
                </div>
                <div class="ui-grid-col-8">
                    <input pInputText
                    type="text"
                    formControlName="password"
                    placeholder="Required"
                    pTooltip="Enter password"
                    tooltipPosition="top"
                    autofocus
                    />
                </div>
                <div class="ui-grid-col-4">
                    Table :
                </div>
                <div class="ui-grid-col-4">
                    <p-dropdown
                        [options]="dashboardDropDown"
                        [(ngModel)]="selectedDashboard"
                        [style]="{
                            'autofocus':'true',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'margin':'-2px 5px 0 0',
                            'padding':'0',
                            'width':'300px'
                        }"
                        placeholder="Required"
                        formControlName="tableName"
                        filter="true"
                        >
                    </p-dropdown>
                </div>
            </div>
        </div>
    </form>