<!--Confirmation dialogue box-->
<p-confirmDialog 
    *ngIf="deleteMode"
    header="Confirmation" 
    icon="fa fa-question-circle" 
    width="425"
    >
</p-confirmDialog>


<!--Popup form for a single user (Add or Edit)-->
<p-dialog 
    [(visible)]="displayUserPopup"
    [header]="popupHeader"
    [closeOnEscape]=false
    [closable]=false
    modal="true"
    responsive="true"
    >
    <user-popup 
        [selectedUser]="selectedUser"
        [addEditMode]="addEditMode"
        [displayUserPopup]="displayUserPopup"
        (userPopupFormClosed)="handleUserPopupFormClosed($event)"
        >
    </user-popup> 
</p-dialog>


<!--Context (popup) menu  -->
<p-contextMenu #cm [model]="popuMenuItems"></p-contextMenu>


<!--Table with user info -->
<div class="myOverride">
    <p-dataTable  #dt
        columnResizeMode="expand"
        exportFilename="users"
        [contextMenu]="cm"
        [paginator]="true" 
        [pageLinks]="3" 
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10" 
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedUser"
        selectionMode="single" 
        [scrollable]="false"  
        [sortMode]="multiple"
        [value]="users"  
        (click)="onClickUserTable()"
        >
        <p-header
            [style]="{'background-color': 'darkgray'}">
            <span>
                List of Users
            </span>
            <span style="float:right"
                class="ui-helper-clearfix csvButton"
                >
                <button 
                    type="button" 
                    pButton 
                    icon="fa-file-o" 
                    iconPos="left" 
                    label="CSV" 
                    (click)="dt.exportCSV()" 
                    >
                </button>
            </span>
            
        </p-header>
        <p-column 
            field="userName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="UserName" 
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="firstName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="FirstName" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="lastName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="LastName" 
            [sortable]="true"
            >
        </p-column>
        <p-column field="nickName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="NickName"
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="photoPath" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="PhotoPath"
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
            <template let-col let-user="rowData" pTemplate="body">
                <span [style.color]="user[col.field]">{{user[col.field]}}</span>
            </template>
        </p-column>

        <p-column 
            field="lastDatetimeLoggedIn" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Last Login" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="lastDatetimeReportWasRun" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Last Report" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="emailAddress" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Email" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="cellNumber" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Cell" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="workTelephoneNumber" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Work Tel" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="activeFromDate" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Active From" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="inactiveDate" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Inactive Date" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="dateCreated" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Date Created" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="userIDLastUpdated" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="UserID Last Upd" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="isStaff" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Is Staff" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
    </p-dataTable>
</div>









<!--Group Membership panel-->
<div
    class="groupMembershipPanel"
    *ngIf="displayGroupMembership"
    >

    <div
        class="groupMembershipHeading"
        >
        Group Membership for {{ selectedUser.firstName }} 
        <button 
            class="panelButtonWithLabel"
            pButton 
            type="button" 
            label="Cancel"
            icon="fa-undo"
            (click)="onClickGroupMembershipCancel()"
            >
        </button>
    </div>
    
    <!--Content-->
    <form>

        <div
            >
            <p-pickList 
                [source]="availableUserGroupMembership" 
                [target]="belongstoUserGroupMembership"
                sourceHeader="Available Groups"
                targetHeader="Belongs to these Groups"
                (onMoveToTarget)="onMoveToTargetUserGroupMembership($event)"
                (onMoveToSource)="onMoveToSourceUserGroupMembership($event)"
                (onSourceReorder)="onSourceReorderUserGroupMembership($event)"
                (onTargetReorder)="onTargetReorderUserGroupMembership($event)"
                >
                <template let-grp pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div 
                            style="font-size:14px;float:left;margin:15px 5px 0 0"
                            >
                            {{ grp.groupName }}
                        </div>
                    </div>
                </template>
            </p-pickList>

        </div>

    </form>
</div>





