<!--Confirmation dialogue box-->
<p-confirmDialog 
    *ngIf="deleteMode"
    header="Confirmation" 
    icon="fa fa-question-circle" 
    width="425"
    >
</p-confirmDialog>


<!--Popup form for a single user (Add or Edit)-->
<p-dialog 
    [(visible)]="displayUserPopup"
    [header]="popupHeader"
    [closeOnEscape]=false
    [closable]=false
    modal="true"
    responsive="true"
    >
    <user-popup 
        [selectedUser]="selectedUser"
        [addEditMode]="addEditMode"
        [displayUserPopup]="displayUserPopup"
        (userPopupFormClosed)="handleUserPopupFormClosed($event)"
        >
    </user-popup> 
</p-dialog>


<!--Context (popup) menu  -->
<p-contextMenu #cm [model]="popuMenuItems"></p-contextMenu>


<!--Table with user info -->
<div class="myOverride">
    <p-dataTable  #dt
        columnResizeMode="expand"
        exportFilename="users"
        [contextMenu]="cm"
        [paginator]="true" 
        [pageLinks]="3" 
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10" 
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedUser"
        selectionMode="single" 
        [scrollable]="false"  
        [sortMode]="multiple"
        [value]="users"  
        (click)="onClickUserTable()"
        >
        <p-header
            [style]="{'background-color': 'darkgray'}">
            <span>
                List of Users
            </span>
            <span style="float:right"
                class="ui-helper-clearfix csvButton"
                >
                <button 
                    type="button" 
                    pButton 
                    icon="fa-file-o" 
                    iconPos="left" 
                    label="CSV" 
                    (click)="dt.exportCSV()" 
                    >
                </button>
            </span>
            
        </p-header>
        <p-column 
            field="userName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="UserName" 
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="firstName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="FirstName" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="lastName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="LastName" 
            [sortable]="true"
            >
        </p-column>
        <p-column field="nickName" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="NickName"
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="photoPath" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="PhotoPath"
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
            <template let-col let-user="rowData" pTemplate="body">
                <span [style.color]="user[col.field]">{{user[col.field]}}</span>
            </template>
        </p-column>

        <p-column 
            field="lastDatetimeLoggedIn" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Last Login" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="lastDatetimeReportWasRun" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Last Report" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="emailAddress" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Email" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="cellNumber" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Cell" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="workTelephoneNumber" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Work Tel" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="activeFromDate" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Active From" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="inactiveDate" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Inactive Date" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="dateCreated" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Date Created" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="userIDLastUpdated" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="UserID Last Upd" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="isStaff" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Is Staff" 
            [sortable]="true"
            [style]="{width: '120px', 
                    'text-align': 'center'}"
            >
        </p-column>
    </p-dataTable>
</div>


<!--Group Membership panel-->
<div
    class="groupMembershipPanel"
    *ngIf="displayGroupMembership"
    >

    <div
        class="groupMembershipHeading"
        >
        Group Membership for {{ selectedUser.firstName }} 
        <button 
            class="panelButtonWithLabel"
            pButton 
            type="button" 
            label="Cancel"
            icon="fa-undo"
            (click)="onClickGroupMembershipCancel()"
            >
        </button>
    </div>
    
    <!--Content-->
    <form>

        <div
            >
            <p-pickList 
                [source]="availableUserGroupMembership" 
                [target]="belongstoUserGroupMembership"
                sourceHeader="Available Groups"
                targetHeader="Belongs to these Groups"
                (onMoveToTarget)="onMoveToTargetUserGroupMembership($event)"
                (onMoveToSource)="onMoveToSourceUserGroupMembership($event)"
                (onSourceReorder)="onSourceReorderUserGroupMembership($event)"
                (onTargetReorder)="onTargetReorderUserGroupMembership($event)"
                >
                <template let-grp pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div 
                            style="font-size:14px;float:left;margin:15px 5px 0 0"
                            >
                            {{ grp.groupName }}
                        </div>
                    </div>
                </template>
            </p-pickList>

        </div>

    </form>
</div>


<!--User Datasource panel-->
<div
    class="groupMembershipPanel"
    *ngIf="displayUserDatasource"
    >

    <div
        class="groupMembershipHeading"
        >
        Datasource Access for {{ selectedUser.userName }} 
        <button 
            class="panelButtonWithLabel"
            pButton 
            type="button" 
            label="Cancel"
            icon="fa-undo"
            (click)="onClickUserDatasourceCancel()"
            >
        </button>
    </div>
    
    <!--Content-->
    <form>

        <div
            >
            <p-pickList 
                [source]="availableUserDatasource" 
                [target]="belongstoUserDatasource"
                sourceHeader="Available Datasources"
                targetHeader="Access to these Datasources"
                (onMoveToTarget)="onMoveToTargetUserDatasource($event)"
                (onMoveToSource)="onMoveToSourceUserDatasource($event)"
                >
                <template let-ds pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div 
                            style="font-size:14px;float:left;margin:15px 5px 0 0"
                            >
                            {{ ds.datasourceName }}
                        </div>
                    </div>
                </template>
            </p-pickList>

        </div>

    </form>
</div>


<!--Popup for Data Sources-->
<p-dialog 
    [(visible)]="displayUserDatasources"
    header="Related Datasources"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable 
        [value]="datasourcesPerUser"
        >
        <p-column 
            field="datasourceID"                  
            header="ID"
            >
        </p-column>
        <p-column 
            field="datasourceName"                
            header="Name"
            >
        </p-column>
        <p-column 
            field="datasourcesPerUserAccessVia"   
            header="Access Via"
            >
        </p-column>
        <p-column 
            field="datasourcesPerUserAccessType"  
            header="Type"
            >
        </p-column>
    </p-dataTable>
</p-dialog>


<!--Popup for Dashboards-->
<p-dialog 
    [(visible)]="displayUserDashboards"
    header="Related Dashboards"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable 
        [value]="dashboardsPerUser"
        >
        <p-column 
            field="dashboardID"                  
            header="ID"
            >
        </p-column>
        <p-column 
            field="dashboardName"                
            header="Name"
            >
        </p-column>
        <p-column 
            field="dashboardsPerUserAccessVia"   
            header="Access Via"
            >
        </p-column>
        <p-column 
            field="dashboardsPerUserAccessType"  
            header="Type"
            >
        </p-column>
    </p-dataTable>
</p-dialog>



<!--Popup for CanvasMessages-->
<p-dialog 
    [(visible)]="displayMessages"
    header="Related Canvas Messages"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <p-dataTable  #dt
        columnResizeMode="expand"
        exportFilename="messages"
        [paginator]="true" 
        [pageLinks]="3" 
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [rows]="10" 
        [rowsPerPageOptions]="[5,10,20]"
        [(selection)]="selectedCanvasMessage"
        selectionMode="single" 
        [scrollable]="false"  
        [sortMode]="multiple"
        [value]="canvasMessages"  
        >
        <p-header
            [style]="{'background-color': 'darkgray'}">
            <span>
                List of Canvas Messages
            </span>
            <span style="float:right"
                class="ui-helper-clearfix csvButton"
                >
                <button 
                    type="button" 
                    pButton 
                    icon="fa-file-o" 
                    iconPos="left" 
                    label="CSV" 
                    (click)="dt.exportCSV()" 
                    >
                </button>
            </span>
            
        </p-header>

        <p-column 
            field="messageConversationID" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Convers. ID"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageID" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="ID"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageSenderUserID" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Sender"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageSentDateTime" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Sent on"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageIsSystemGenerated" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="System?"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageDashboardID" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Dashboard ID"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageReportID" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Report ID"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageWidgetID" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Widget ID"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageSubject" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Subject"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageBody" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="Body"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageSentToMe" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="To me?"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>
        <p-column 
            field="messageMyStatus" 
            [filter]="true" 
            filterMatchMode="contains" 
            header="My Status"
            [sortable]="true"
            [style]="{width: '80px', 
                    'text-align': 'center'}"
            >
        </p-column>        
    </p-dataTable>
</p-dialog>


<!--Popup for Reports I ran-->
<p-dialog 
    [(visible)]="displayReports"
    header="Related Reports"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >    
    <p-dataTable [value]="reportHistory">
        <p-column field="reportHistoryID" header="ID"></p-column>
        <p-column field="userName" header="User"></p-column>
        <p-column field="reportID" header="ReportID"></p-column>
        <p-column field="reportHistoryStartDateTime" header="Start on"></p-column>
        <p-column field="reportHistoryEndDateTime" header="End on"></p-column>
        <p-column field="reportHistoryStatus" header="Status"></p-column>
        <p-column field="reportHistoryNrRowsReturned" header="Nr Rows"></p-column>
        <p-column field="reportHistoryComments" header="Comments"></p-column>
    </p-dataTable>
</p-dialog>


<!--Popup for Reset Password-->
<p-dialog 
    [(visible)]="displayResetPassword"
    header="Reset Password"
    [closeOnEscape]=false
    [closable]=true
    modal="true"
    responsive="true"
    >
    <change-password 
        [selectedUser]="selectedUser"
        (formChangePasswordSubmit)="handleFormChangePasswordSubmit($event)" 
        >
        Loading Reset Password form ...
    </change-password>

</p-dialog>

