.widgetEditor {
    background-color: white;
    border-radius: 2px;
    display: block;
    font-size: 0.85em;
    left: -4px;
    margin: 0;
    padding: 3px;
    position: absolute; 
    top: 2em;
    width: 310px;
    z-index: 999;
}

.dashboardHeading {
    background-color: #669999;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 4px 0 2px 4px;
}
    
.widgetEditorLabel {
    font-size: 1em;
}
.iserror {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 0;
    padding: 0;
}
