<p 
    class="iserror" 
    *ngIf="formIsValid"> 
    {{ errorMessageOnForm }}
</p>


<div
    class="widgetEditor"
    *ngIf="displayEditWidget"
    >

    <div
        class="editorHeading"
        >
        Widget Editor
    </div>

    <form 
        [formGroup]="identificationForm" 
        >

        <!--ID Panel Header-->
        <div
            class="PanelHeading"
            >
            Identification

            <!--Open/Close buttons-->
            <button
                class="panelCaretButton"
                *ngIf="idPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-up"
                pTooltip="Click to close panel" 
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="idPanelIsOpen=false"
                >
            </button>         
            <button
                class="panelCaretButton"
                *ngIf="!idPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-down"
                pTooltip="Click to open panel"
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="idPanelIsOpen=true"
                >
            </button>  
        </div>

        <!--Id Panel Area-->
        <div
            class="panelArea"
            *ngIf="idPanelIsOpen"
            >

            <!--Tab Name-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    TabName *:
                </span>
                <p-dropdown 
                    [options]="dashboardTabsDropDown" 
                    [(ngModel)]="selectedDashboardTab"
                    [style]="{
                                'float':'right',
                                'font-size':'0.85em',
                                'margin-bottom':'0',
                                'margin-right':'5px',
                                'margin-top':'0',
                                'padding':'0',
                                'width':'200px'
                             }" 
                    placeholder="Required"
                    formControlName="widgetTabName" 
                    [pTooltip]="dashboardsTabsTooltip"
                    filter="true"
                    (onChange)="changeTabDropDown($event)"
                    >
                </p-dropdown>
            </div>

            <!--Title-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Title *:
                </span>
                <input 
                    pInputText 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                    type="text" 
                    formControlName="widgetTitle" 
                    placeholder="Required"
                    pTooltip="Short Title to be displayed at the top of the container"
                    />
            </div>

            <!--Code-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Code *:
                </span>
                <input pInputText 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                    type="text" 
                    formControlName="widgetCode" 
                    placeholder="Required"
                    pTooltip="Short Widget Code"
                    />
            </div>

            <!--Name-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Name *:
                </span>
                <input pInputText 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                    type="text" 
                    formControlName="widgetName" 
                    placeholder="Required"
                    pTooltip="Descriptive Name of the Widget"
                    />
            </div>

            <!--Description-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Description *:
                </span>
                <input pInputText 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                    type="text" 
                    formControlName="widgetDescription" 
                    placeholder="Required"
                    pTooltip="Detailed description of the Widget"
                    />
            </div>
        </div>


        <!--Default Export File Type-->
        <div >
            Deflt. Exp Type: 
            <input pInputText 
                    type="text" 
                    formControlName="widgetDefaultExportFileType" 
                    placeholder="(optional)"
                    pTooltip="Default File Type on Export"
                    />
        </div>

        <!--Hyperlink Tab Number-->
        <div >
            Hyperlink TabNr: 
            <input pInputText 
                    type="text" 
                    formControlName="widgetHyperLinkTabNr" 
                    placeholder="(optional)"
                    pTooltip="Tab Nr to which this Widget hyperlinks"
                    />
        </div>

        <!--Hyperlink Widget ID-->
        <div >
            Hyperlink Widget ID: 
            <input pInputText 
                    type="text" 
                    formControlName="widgetHyperLinkWidgetID" 
                    placeholder="(optional)"
                    pTooltip="Widget ID to which this Widget hyperlinks"
                    />
        </div>

        <!--Refresh Mode-->
        <div >
            Refresh Mode: 
            <input pInputText 
                    type="text" 
                    formControlName="widgetRefreshMode" 
                    placeholder="(optional)"
                    pTooltip="Refresh Mode of Widget: Manual, OnOpen, Repeatedly"
                    />
        </div>

        <!--Refresh Frequency-->
        <div >
            Refresh Frequency: 
            <input pInputText 
                    type="text" 
                    formControlName="widgetRefreshFrequency" 
                    placeholder="(optional)"
                    pTooltip="Refresh Frequency (if Refresh Mode is Repeatedly)"
                    />
        </div>

        <!--Password-->
        <div >
            Password: 
            <input pInputText 
                    type="text" 
                    formControlName="widgetPassword" 
                    placeholder="(optional)"
                    pTooltip="Password to show Widget content"
                    />
        </div>

        <!--Number Liked-->
        <div >
            Nr Liked: 
            <input pInputText 
                    type="text" 
                    readonly
                    formControlName="NrwidgetLiked" 
                    placeholder="(optional)"
                    pTooltip="Nr of users that Liked this Widget"
                    />
        </div>

        <!--Report selection-->
        <div >
            ReportName *: 
            <p-dropdown 
                [options]="reportsDropDown" 
                [(ngModel)]="selectedReport"
                [style]="{
                            'width':'100%'
                        }" 
                placeholder="Select a Report"
                formControlName="widgetReportName" 
                [pTooltip]="reportsDropDownTooltip"
                filter="true"
                (onChange)="loadReportRelatedInfo($event)"
                >
            </p-dropdown>
        </div>      <!--END Report selection-->

        <!--Report Paramters (optional)-->
        <div >
            Rpt Parameters: 
            <input pInputText 
                    type="text" 
                    formControlName="widgetReportParameters" 
                    placeholder="(Optional)"
                    pTooltip="Optional Report Parameters"
                    />
        </div>      <!--END Report Paramters (optional)-->

        <!--Indicated number of rows to extract (LIMIT = n, or TOP = n in SQL)-->
        <div >
            Limited Rows: 
            <input pInputText 
                type="text" 
                formControlName="widgetShowLimitedRows" 
                placeholder="(Optional)"
                pTooltip="Indicate the (limited) number of rows to show from the data"
                />
        </div>      <!--END Indicated number of rows to extract (LIMIT = n, or TOP = n in SQL)-->

        <!--Indicate if extra row must be added with aggregate of the Rest -->
        <div >
            Add Rest Row: 
            <input pInputText 
                type="text" 
                formControlName="widgetAddRestRow" 
                placeholder="(Optional)"
                pTooltip="Check to add a Rest Row (aggregate of the rows above the Limited Rows)"
                />
        </div>      <!--END Indicate if extra row must be added with aggregate of the Rest -->

        <!--DropDown to select method of creation, ie from WidgetSet-->
        <div >
            Creation *: 
            <p-dropdown 
                [options]="widgetCreationDropDown" 
                [(ngModel)]="selectedWidgetCreation"
                [style]="{
                            'width':'100%'
                        }" 
                placeholder="Required"
                formControlName="widgetType" 
                pTooltip=""
                inputId="label"
                dataKey="BarChart"
                (onChange)="loadWidgetTemplateFields($event)"
                >
            </p-dropdown>
        </div>      <!--END DropDown to select method of creation, ie from WidgetSet-->

        <!--The Rest of the DOM depends on what was selected above-->
        <div *ngIf="selectedWidgetCreation">

            <!--ngIf since selectedWidgetCreation undefined at start-->
            <div [ngSwitch]="this.selectedWidgetCreation['name']">

                <!--WidgetSets-->
                <div *ngSwitchCase="'WidgetSet'">
                    <div >
                        Rpt Widget Set *: 
                        <p-dropdown 
                            [options]="reportWidgetSetsDropDown" 
                            inputId="S2" 
                            [style]="{
                                        'width':'100%'
                                    }" 
                            [pTooltip]="reportWidgetSetDropToolTip"
                            filter="true"
                            formControlName="widgetReportWidgetSet" 
                            (onChange)="changeWidgetSet($event)"
                            >
                        </p-dropdown>
                    </div>  
                </div>        <!--END WidgetSets-->

                <!--BarChar fields-->
                <div *ngSwitchCase="'BarChart'" >

                    <div >
                        Graph Height: 
                        <input pInputText 
                            type="text" 
                            formControlName="graphHeight" 
                            placeholder="(Optional)"
                            pTooltip="Height of the graph, inside the container"
                            />
                    </div>

                    <div >
                        Graph Width: 
                        <input pInputText 
                            type="text" 
                            formControlName="graphWidth" 
                            placeholder="(Optional)"
                            pTooltip="Width of the graph, inside the container"
                            />
                    </div>

                    <div >
                        Graph Padding: 
                        <input pInputText 
                            type="text" 
                            formControlName="graphPadding" 
                            placeholder="(Optional)"
                            pTooltip="Padding of the graph, inside the container"
                            />
                    </div>

                    <div >
                        X axis Field: 
                        <p-dropdown 
                            [options]="reportFieldsDropDown" 
                            inputId="S2" 
                            [style]="{
                                        'width':'100%'
                                    }" 
                            [pTooltip]="reportWidgetSetDropToolTip"
                            filter="true"
                            formControlName="vegaXcolumn" 
                            placeholder="Required X axis field"
                            >
                        </p-dropdown>
                    </div>  

                    <div >
                        Y axis Field: 
                        <p-dropdown 
                            [options]="reportFieldsDropDown" 
                            inputId="S2" 
                            [style]="{
                                        'width':'100%'
                                    }" 
                            [pTooltip]="reportWidgetSetDropToolTip"
                            filter="true"
                            placeholder="Required Y axis field"
                            formControlName="vegaYcolumn" 
                            >
                        </p-dropdown>
                    </div>  

                    <div >
                        Fill Color:  
                        <p-dropdown 
                            [options]="chartColor" 
                            inputId="S2" 
                            [style]="{
                                        'width':'100%'
                                    }" 
                            [pTooltip]=""
                            filter="true"
                            formControlName="vegaFillColor" 
                            placeholder="(Optional) fill color"
                            >
                        </p-dropdown>
                    </div>  

                    <div >
                        Hover Color:  
                        <p-dropdown 
                            [options]="chartColor" 
                            inputId="S2" 
                            [style]="{
                                        'width':'100%'
                                    }" 
                            [pTooltip]="reportWidgetSetDropToolTip"
                            filter="true"
                            formControlName="vegaHoverColor" 
                            placeholder="(Optional) hover color"
                            >
                        </p-dropdown>
                    </div>  

                </div>       <!--END BarChar fields-->

                <!--PieChart-->
                <div *ngSwitchCase="'PieChart'" >
                    PieChart
                </div>      <!--END PieChart-->

                <!--LineChart-->
                <div *ngSwitchCase="'LineChart'">
                    LineChart
                </div>      <!--END LineChart-->

                <!--Default-->
                <div *ngSwitchDefault           >
                    No widget creation option selected
                </div>      <!--END Default-->

            </div>      <!--END ngSwitch-->
        </div>      <!--END ngIF-->

    </form>     <!--END Form in this Panel-->
 
    <div >
        <button 
            pButton 
            type="button" 
            label="Cancel"
            icon="fa-undo"
            (click)="onCancel()"
            >
        </button>
        <!--<p-splitButton label="Save" icon="fa-check" [model]="items"></p-splitButton>-->
    </div>
    
    <div >
        <button 
            pButton 
            type="submit" 
            label="Submit" 
            icon="fa-refresh"
            (click)="onSubmit()"
            >
        </button>
    </div>
</div>

