<!--Errors-->
<p
    class="iserror"
    *ngIf="formIsValid">
    {{ errorMessageOnForm }}
</p>


<form 
    [formGroup]="userform"
    >
    <div 
        class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" 
        style="margin: 10px 0px"
        >
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                Dashboard Name :
            </div>
            <div class="ui-grid-col-8">
                <p-dropdown
                    [options]="dashboardDropDown"
                    [style]="{
                            'autofocus':'true',
                            'background-color':'538cc6',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'float':'right',
                            'font-size':'0.85em',
                            'margin':'-2px 5px 0 0',
                            'padding':'0',
                            'width':'200px'
                            }"
                    placeholder="Required"
                    formControlName="dashboardName"
                    filter="true"
                    (onChange)="onChangeDashboardDrowdown($event)"
                    >
                </p-dropdown>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                Tab Name :
            </div>
            <div class="ui-grid-col-8">
                <p-dropdown
                    [options]="dashboardTabsDropDown"
                    [style]="{
                            'autofocus':'true',
                            'background-color':'538cc6',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'float':'right',
                            'font-size':'0.85em',
                            'margin':'-2px 5px 0 0',
                            'padding':'0',
                            'width':'200px'
                            }"
                    placeholder="Required"
                    formControlName="dashboardTabName"
                    filter="true"
                    >
                </p-dropdown>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                X-Axis :
            </div>
            <div class="ui-grid-col-8">
                <p-dropdown
                    [options]="reportFieldsDropDown"
                    [style]="{
                            'autofocus':'true',
                            'background-color':'538cc6',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'float':'right',
                            'font-size':'0.85em',
                            'margin':'-2px 5px 0 0',
                            'padding':'0',
                            'width':'200px'
                            }"
                    placeholder="Required"
                    formControlName="reportFieldsX"
                    filter="true"
                    >
                </p-dropdown>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                Y-Axis :
            </div>
            <div class="ui-grid-col-8">
                <p-dropdown
                    [options]="reportFieldsDropDown"
                    [style]="{
                            'autofocus':'true',
                            'background-color':'538cc6',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'float':'right',
                            'font-size':'0.85em',
                            'margin':'-2px 5px 0 0',
                            'padding':'0',
                            'width':'200px'
                            }"
                    placeholder="Required"
                    formControlName="reportFieldsY"
                    filter="true"
                    >
                </p-dropdown>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                Graph Type :
            </div>
            <div class="ui-grid-col-8">
                <p-dropdown
                    [options]="graphTypeDropDown"
                    [style]="{
                            'autofocus':'true',
                            'background-color':'538cc6',
                            'border':'1px solid lightgray',
                            'border-radius':'2px',
                            'float':'right',
                            'font-size':'0.85em',
                            'margin':'-2px 5px 0 0',
                            'padding':'0',
                            'width':'200px'
                            }"
                    placeholder="Required"
                    formControlName="graphType"
                    filter="true"
                    >
                </p-dropdown>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"></div>
            <div class="ui-grid-col-4">
                <button pButton 
                        type="button" 
                        label="Submit" 
                        (click)="onSubmit($event)"
                >
                </button>
            </div>
            <div class="ui-grid-col-4"></div>
        </div>
    </div>   
</form> 