<!--Widget Editor-->
<div
    class="widgetEditor"
    *ngIf="displayEditWidget"
    >

    <div
        class="editorHeading"
        >
        Widget Editor
    </div>

    <form 
        [formGroup]="identificationForm" 
        >

        <!--Content Panel Header-->
        <div
            class="PanelHeading"
            >
            Content

            <!--Open/Close buttons-->
            <button
                class="panelCaretButton"
                *ngIf="contentPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-up"
                pTooltip="Click to close panel" 
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="contentPanelIsOpen=false"
                >
            </button>         
            <button
                class="panelCaretButton"
                *ngIf="!contentPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-down"
                pTooltip="Click to open panel"
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="contentPanelIsOpen=true"
                >
            </button>  
        </div>

        <!--Content Panel Area-->
        <div
            class="panelArea"
            *ngIf="contentPanelIsOpen"
            >

            <!--showText-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Show Text:
                </span>
                <p-checkbox 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                    pTooltip="Check to show Text in the container"
                    formControlName="showTextInWidget" 
                    [(ngModel)]="showTextChecked" 
                    binary="true"
                    (onChange)="changeCheckBox()"
                    >
                </p-checkbox>
            </div>

            <!--showGraph-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Show Graph:
                </span>
                <p-checkbox 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                    pTooltip="Check to show Text in the container"
                    formControlName="showTextInWidget" 
                    [(ngModel)]="showGraphChecked" 
                    binary="true"
                    (onChange)="changeCheckBox()"
                    >
                </p-checkbox>
            </div>

            <!--showTable-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Show Table:
                </span>
                <p-checkbox 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                    pTooltip="Check to show Text in the container"
                    formControlName="showTextInWidget" 
                    [(ngModel)]="showTableChecked" 
                    binary="true"
                    (onChange)="changeCheckBox()"
                    >
                </p-checkbox>
            </div>

            <!--showImage-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Show Image:
                </span>
                <p-checkbox 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                    pTooltip="Check to show Text in the container"
                    formControlName="showTextInWidget" 
                    [(ngModel)]="showImageChecked" 
                    binary="true"
                    (onChange)="changeCheckBox()"
                    >
                </p-checkbox>
            </div>

        </div>


        <!--ID Panel Header-->
        <div
            class="PanelHeading"
            >
            Identification

            <!--Open/Close buttons-->
            <button
                class="panelCaretButton"
                *ngIf="idPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-up"
                pTooltip="Click to close panel" 
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="idPanelIsOpen=false"
                >
            </button>         
            <button
                class="panelCaretButton"
                *ngIf="!idPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-down"
                pTooltip="Click to open panel"
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="idPanelIsOpen=true"
                >
            </button>  
        </div>

        <!--Id Panel Area-->
        <div
            class="panelArea"
            *ngIf="idPanelIsOpen"
            >

            <!--Tab Name-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    TabName *:
                </span>
                <p-dropdown 
                    [options]="dashboardTabsDropDown" 
                    [(ngModel)]="selectedDashboardTab"
                    [style]="{
                                'float':'right',
                                'font-size':'0.85em',
                                'margin-bottom':'0',
                                'margin-right':'5px',
                                'margin-top':'0',
                                'padding':'0',
                                'width':'200px'
                             }" 
                    placeholder="Required"
                    formControlName="widgetTabName" 
                    [pTooltip]="dashboardsTabsTooltip"
                    filter="true"
                    >
                </p-dropdown>
            </div>

            <!--Title-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Title *:
                </span>
                <input 
                    pInputText 
                    style="
                            float: right;
                            margin-bottom: 3px;
                            margin-right: 5px;
                            margin-top: 1px;
                            padding: 0;
                            width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetTitle" 
                    placeholder="Required"
                    pTooltip="Short Title to be displayed at the top of the container"
                    />
            </div>

            <!--Code-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Code *:
                </span>
                <input pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetCode" 
                    placeholder="Required"
                    pTooltip="Short Widget Code"
                    />
            </div>

            <!--Name-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Name *:
                </span>
                <input pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetName" 
                    placeholder="Required"
                    pTooltip="Descriptive Name of the Widget"
                    />
            </div>

            <!--Description-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Description *:
                </span>
                <input pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetDescription" 
                    placeholder="Required"
                    pTooltip="Detailed description of the Widget"
                    />
            </div>
        </div>


        <!--Behaviour Panel Header-->
        <div
            class="PanelHeading"
            >
            Behaviour

            <!--Open/Close buttons-->
            <button
                class="panelCaretButton"
                *ngIf="behaviourPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-up"
                pTooltip="Click to close panel" 
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="behaviourPanelIsOpen=false"
                >
            </button>         
            <button
                class="panelCaretButton"
                *ngIf="!behaviourPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-down"
                pTooltip="Click to open panel"
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="behaviourPanelIsOpen=true"
                >
            </button>  
        </div>

        <!--Behaviour Panel Area-->
        <div
            class="panelArea"
            *ngIf="behaviourPanelIsOpen"
            >

            <!--Default Export File Type-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Export F-Type:
                </span>
                <input 
                    pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetDefaultExportFileType" 
                    placeholder="(Optional)"
                    pTooltip="Default File Type on Export"
                    />
            </div>

            <!--Hyperlink Tab Number-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Hyper-TabNr:
                </span>
                <input 
                    pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetHyperLinkTabNr" 
                    placeholder="(Optional)"
                    pTooltip="Tab Nr to which this Widget hyperlinks"
                    />
            </div>

            <!--Hyperlink Widget ID-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Hyper-Widget:
                </span>
                <input 
                    pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetHyperLinkWidgetID" 
                    placeholder="(Optional)"
                    pTooltip="Widget ID to which this Widget hyperlinks"
                    />
            </div>

            <!--Refresh Mode-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Refresh Mode:
                </span>
                <input 
                    pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetRefreshMode" 
                    placeholder="(Optional)"
                    pTooltip="Refresh Mode of Widget: Manual, OnOpen, Repeatedly"
                    />
            </div>

            <!--Refresh Frequency-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Refresh Freq:
                </span>
                <input 
                    pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetRefreshFrequency" 
                    placeholder="(Optional)"
                    pTooltip="Refresh Frequency (if Refresh Mode is Repeatedly)"
                    />
            </div>

            <!--Password-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Password:
                </span>
                <input 
                    pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    formControlName="widgetPassword" 
                    placeholder="(Optional)"
                    pTooltip="Password to show Widget content"
                    />
            </div>

            <!--Number Liked-->
            <div
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Nr Liked:
                </span>
                <input 
                    pInputText 
                    style="
                             float: right;
                             margin-bottom: 3px;
                             margin-right: 5px;
                             margin-top: 1px;
                             padding: 0;
                             width: 200px;
                          " 
                    type="text" 
                    readonly
                    formControlName="NrwidgetLiked" 
                    pTooltip="Nr of users that Liked this Widget (info)"
                    />
            </div>
        </div>


        <!--Data Panel Header-->
        <div
            class="PanelHeading"
            >
            Data

            <!--Open/Close buttons-->
            <button
                class="panelCaretButton"
                *ngIf="dataPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-up"
                pTooltip="Click to close panel" 
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="dataPanelIsOpen=false"
                >
            </button>         
            <button
                class="panelCaretButton"
                *ngIf="!dataPanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-down"
                pTooltip="Click to open panel"
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="dataPanelIsOpen=true"
                >
            </button>  
        </div>

        <!--Data Panel Area-->
        <div
            class="panelArea"
            *ngIf="dataPanelIsOpen"
            >

            <!--Report selection-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    ReportName *:
                </span>
                <p-dropdown 
                    [options]="reportsDropDown" 
                    [(ngModel)]="selectedReport"
                    [style]="{
                                'float':'right',
                                'font-size':'0.85em',
                                'margin-bottom':'0',
                                'margin-right':'5px',
                                'margin-top':'0',
                                'padding':'0',
                                'width':'200px'
                             }" 
                    placeholder="Select a Report"
                    formControlName="widgetReportName" 
                    [pTooltip]="reportsDropDownTooltip"
                    filter="true"
                    (onChange)="loadReportRelatedInfo($event)"
                    >
                </p-dropdown>
            </div>      <!--END Report selection-->

            <!--Report Paramters (optional)-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Rpt Params:
                </span>
                <input 
                    pInputText 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                    type="text" 
                    formControlName="widgetReportParameters" 
                    placeholder="(Optional)"
                    pTooltip="Optional Report Parameters"
                    />
            </div>      <!--END Report Paramters (optional)-->

            <!--Indicated number of rows to extract (LIMIT = n, or TOP = n in SQL)-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Limit Rows:
                </span>
                <input pInputText 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                type="text" 
                formControlName="widgetShowLimitedRows" 
                placeholder="(Optional)"
                pTooltip="Indicate the (limited) number of rows to show from the data"
                />
            </div>      <!--END Indicated number of rows to extract (LIMIT = n, or TOP = n in SQL)-->

            <!--Indicate if extra row must be added with aggregate of the Rest -->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Rest Row:
                </span>
                <input pInputText 
                    style="
                                float: right;
                                margin-bottom: 3px;
                                margin-right: 5px;
                                margin-top: 1px;
                                padding: 0;
                                width: 200px;
                             " 
                type="text" 
                formControlName="widgetAddRestRow" 
                placeholder="(Optional)"
                pTooltip="Check to add a Rest Row (aggregate of the rows above the Limited Rows)"
                />
            </div>      <!--END Indicate if extra row must be added with aggregate of the Rest -->
        </div>


        <!--Widget Type Panel Header-->
        <div
            class="PanelHeading"
            >
            Widget Type

            <!--Open/Close buttons-->
            <button
                class="panelCaretButton"
                *ngIf="widgetTypePanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-up"
                pTooltip="Click to close panel" 
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="widgetTypePanelIsOpen=false"
                >
            </button>         
            <button
                class="panelCaretButton"
                *ngIf="!widgetTypePanelIsOpen"
                pButton
                type="button"
                icon="fa-caret-down"
                pTooltip="Click to open panel"
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="widgetTypePanelIsOpen=true"
                >
            </button>  
        </div>

        <!--Widget Type Panel Area-->
        <div
            class="panelArea"
            *ngIf="widgetTypePanelIsOpen"
            >

            <!--Report selection-->
            <div 
                class="panelLine"
                >
                <span 
                    class="panelLineLabel"
                    >
                    Widget Type *:
                </span>
                            
                <p-dropdown 
                    [options]="widgetCreationDropDown" 
                    [(ngModel)]="selectedWidgetCreation"
                    [style]="{
                                'float':'right',
                                'font-size':'0.85em',
                                'margin-bottom':'0',
                                'margin-right':'5px',
                                'margin-top':'0',
                                'padding':'0',
                                'width':'200px'
                             }" 
                    placeholder="Required"
                    formControlName="widgetType" 
                    pTooltip=""
                    inputId="label"
                    dataKey="BarChart"
                    (onChange)="loadWidgetTemplateFields()"
                    >
                </p-dropdown>
            </div>

            <!--The Rest of the DOM depends on what was selected above-->
            <div *ngIf="selectedWidgetCreation">

                <!--ngIf since selectedWidgetCreation undefined at start-->
                <div [ngSwitch]="this.selectedWidgetCreation['name']">

                    <!--WidgetSets-->
                    <div *ngSwitchCase="'WidgetSet'">
                        <div 
                            class="panelLine"
                            >
                            <span 
                                class="panelLineLabel"
                                >
                                Widget Sets:
                            </span>
                            <p-dropdown
                                [options]="reportWidgetSetsDropDown" 
                                inputId="S2" 
                                [style]="{
                                            'float':'right',
                                            'font-size':'0.85em',
                                            'margin-bottom':'0',
                                            'margin-right':'5px',
                                            'margin-top':'0',
                                            'padding':'0',
                                            'width':'200px'
                                        }" 
                                [pTooltip]="reportWidgetSetDropToolTip"
                                filter="true"
                                formControlName="widgetReportWidgetSet" 
                                (onChange)="changeWidgetSet($event)"
                                >
                            </p-dropdown>
                        </div>  
                    </div>        <!--END WidgetSets-->

                    <!--BarChar fields-->
                    <div *ngSwitchCase="'BarChart'" >

                        <div 
                            class="panelLine"
                            >
                            <span 
                                class="panelLineLabel"
                                >
                                Graph Height:
                            </span>
                            <input pInputText 
                                style="
                                            float: right;
                                            margin-bottom: 3px;
                                            margin-right: 5px;
                                            margin-top: 1px;
                                            padding: 0;
                                            width: 200px;
                                        " 
                                type="text" 
                                formControlName="vegaGraphHeight" 
                                placeholder="Required"
                                pTooltip="Height of the graph, inside the container"
                                />
                        </div>

                        <div 
                            class="panelLine"
                            >
                            <span 
                                class="panelLineLabel"
                                >
                                Graph Width:
                            </span>
                            <input pInputText 
                                style="
                                            float: right;
                                            margin-bottom: 3px;
                                            margin-right: 5px;
                                            margin-top: 1px;
                                            padding: 0;
                                            width: 200px;
                                        " 
                                type="text" 
                                formControlName="vegaGraphWidth" 
                                placeholder="Required"
                                pTooltip="Width of the graph, inside the container"
                                />
                        </div>

                        <div 
                            class="panelLine"
                            >
                            <span 
                                class="panelLineLabel"
                                >
                                Graph Padding:
                            </span>
                            <input pInputText 
                                style="
                                            float: right;
                                            margin-bottom: 3px;
                                            margin-right: 5px;
                                            margin-top: 1px;
                                            padding: 0;
                                            width: 200px;
                                        " 
                                type="text" 
                                formControlName="vegaGraphPadding" 
                                placeholder="Required"
                                pTooltip="Padding of the graph, inside the container"
                                />
                        </div>

                        <div 
                            class="panelLine"
                            >
                            <span 
                                class="panelLineLabel"
                                >
                                X Axis:
                            </span>
                            <p-dropdown 
                                [options]="reportFieldsDropDown" 
                                [(ngModel)]="selectedVegaXcolumn"
                                inputId="S2" 
                                [style]="{
                                            'float':'right',
                                            'font-size':'0.85em',
                                            'margin-bottom':'0',
                                            'margin-right':'5px',
                                            'margin-top':'0',
                                            'padding':'0',
                                            'width':'200px'
                                        }" 
                                [pTooltip]="reportWidgetSetDropToolTip"
                                filter="true"
                                formControlName="vegaXcolumn" 
                                placeholder="Required X axis field"
                                >
                            </p-dropdown>
                        </div>  

                        <div 
                            class="panelLine"
                            >
                            <span 
                                class="panelLineLabel"
                                >
                                Y Axis:
                            </span>
                            <p-dropdown 
                                [options]="reportFieldsDropDown" 
                                [(ngModel)]="selectedVegaYcolumn"
                                inputId="S2" 
                                [style]="{
                                            'float':'right',
                                            'font-size':'0.85em',
                                            'margin-bottom':'0',
                                            'margin-right':'5px',
                                            'margin-top':'0',
                                            'padding':'0',
                                            'width':'200px'
                                        }" 
                                [pTooltip]="reportWidgetSetDropToolTip"
                                filter="true"
                                placeholder="Required Y axis field"
                                formControlName="vegaYcolumn" 
                                >
                            </p-dropdown>
                        </div>  

                        <div 
                            class="panelLine"
                            >
                            <span 
                                class="panelLineLabel"
                                >
                                Fill Color:
                            </span>
                            <p-dropdown 
                                [options]="chartColor" 
                                [(ngModel)]="selectedVegaFillColor"
                                inputId="S2" 
                                [style]="{
                                            'float':'right',
                                            'font-size':'0.85em',
                                            'margin-bottom':'0',
                                            'margin-right':'5px',
                                            'margin-top':'0',
                                            'padding':'0',
                                            'width':'200px'
                                        }" 
                                [pTooltip]=""
                                filter="true"
                                formControlName="vegaFillColor" 
                                placeholder="(Optional) fill color"
                                >
                            </p-dropdown>
                        </div>  

                        <div 
                            class="panelLine"
                            >
                            <span 
                                class="panelLineLabel"
                                >
                                Hover Color:
                            </span>
                            <p-dropdown 
                                [options]="chartColor" 
                                [(ngModel)]="selectedVegaHoverColor"
                                inputId="S2" 
                                [style]="{
                                            'float':'right',
                                            'font-size':'0.85em',
                                            'margin-bottom':'0',
                                            'margin-right':'5px',
                                            'margin-top':'0',
                                            'padding':'0',
                                            'width':'200px'
                                        }" 
                                [pTooltip]="reportWidgetSetDropToolTip"
                                filter="true"
                                formControlName="vegaHoverColor" 
                                placeholder="(Optional) hover color"
                                >
                            </p-dropdown>
                        </div>  

                    </div>       <!--END BarChar fields-->

                    <!--PieChart-->
                    <div *ngSwitchCase="'PieChart'" >
                        PieChart
                    </div>      <!--END PieChart-->

                    <!--LineChart-->
                    <div *ngSwitchCase="'LineChart'">
                        LineChart
                    </div>      <!--END LineChart-->

                    <!--Custom-->
                    <div *ngSwitchCase="'Custom'">
                        Custom: Edit the Vega spec below ...
                    </div>      <!--END LineChart-->

                    <!--Default-->
                    <div *ngSwitchDefault           >
                        No widget creation option selected
                    </div>      <!--END Default-->

                </div>      <!--END ngSwitch-->
            </div>      <!--END ngIF-->
        </div>      <!--END Data Panel-->
    </form>     <!--END Form in this Panel-->

    <!--Buttun Area contains Cancel / Submit-->
    <div
        class="panelButtonArea"
        >
        <button 
            class="panelButtonWithLabel"
            pButton 
            type="button" 
            label="Cancel"
            icon="fa-undo"
            (click)="onCancel()"
            >
        </button>
        <button 
            class="panelButtonWithLabel"
            pButton 
            type="submit" 
            label="Submit" 
            icon="fa-refresh"
            (click)="onSubmit()"
            >
        </button>
    </div>

    <!--Errors-->
    <p 
        class="iserror" 
        *ngIf="formIsValid"> 
        {{ errorMessageOnForm }}
    </p>


    <!--Vega Panel Header-->
    <div
        class="PanelHeading"
        >
        Vega

        <!--Open/Close buttons-->
        <button
            class="panelCaretButton"
            *ngIf="vegaPanelIsOpen"
            pButton
            type="button"
            icon="fa-caret-up"
            pTooltip="Click to close panel" 
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="vegaPanelIsOpen=false"
            >
        </button>         
        <button
            class="panelCaretButton"
            *ngIf="!vegaPanelIsOpen"
            pButton
            type="button"
            icon="fa-caret-down"
            pTooltip="Click to open panel"
            tooltipPosition="right" 
            tooltipEvent="hover"
            (click)="vegaPanelIsOpen=true"
            >
        </button>  
    </div>


    <!--Vega Panel Area-->
    <div
        class="panelArea"
        *ngIf="vegaPanelIsOpen"
        >
        <div
            *ngIf="isVegaSpecBad"
            >
            Vega spec is invalid
        </div>
        <div
            *ngIf="!isVegaSpecBad"
            >
            Vega spec is Valid
        </div>

        <!--Vega-->
        <div
            class="panelLine"
            >
            <span 
                class="panelLineLabel"
                >
                Custom Vega spec:
            </span>
            <p>
            <p>Copy and paste using keyboard (Ctrl-C and Ctrl-V).  Note that the
                specification must be validated before it can be used, by clicking
                the button below.   Also, the spec can only be editted for Custom
                specs.  No parameters can be added, and the data from the Report 
                will be inserted into the spec.  The spec area can be resized 
                with the draghandle (right bottom).
            </p>
            <textarea 
                pInputTextarea 
                class="widgetGraph"

                [(ngModel)]="widgetToEditSpec"
                >
            </textarea> 
            <button
                class="panelButtonWithLabel"
                pButton
                type="button"
                label="Validate"
                icon="fa-question-circle"
                pTooltip="Click to validate the Vega Spec"
                tooltipPosition="right" 
                tooltipEvent="hover"
                (click)="testVegaSpec()"
                [disabled]="isNotCustomSpec"
                >
            </button> 
        </div>

        <div #widget class="widgetGraph">

        </div> 


    </div>

</div>

