<!--Buttons to add new Comments-->
    <button
        pButton
        type="button"
        icon="fa-plus"
        label="Cancel"
        style="float: left; margin: 4px;"
        pTooltip="Ignore all changes made" 
        tooltipPosition="left" 
        tooltipEvent="hover"
        (click)="addNewThread()" 
        >
    </button> 

    <button
        pButton
        type="button"
        icon="fa-plus-square"
        label="Save"
        style="float: right; margin: 4px;"
        pTooltip="Save the data" 
        tooltipPosition="left" 
        tooltipEvent="hover"
        (click)="addSameThread()" 
        >
    </button> 
<!--END Buttons to add new Comments-->

<!--Form to add a new Comment-->
<div
    *ngIf="addingNew"
    >

    <div>
        <form 
            [formGroup]="userform" 
            (ngSubmit)="onSubmit(userform.value)"
            >
            <div 
                class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" 
                style="margin: 10px 0px"
                >
                <div class="ui-grid-row">
                    Container:
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Tab Name <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Title <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Bg Color <input type="text" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Border <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Shadow <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Color <input type="text" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Font Size <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Height <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Left <input type="text" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Top <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Width <input type="text" />
                    </div>
                </div>

                <div class="ui-grid-row">
                        Data:
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Data Src <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        DS Pars <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Rpt Name <input type="text" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Rpt Pars <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Limit <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Size <input type="text" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Add R-Row <input type="text" />
                    </div>
                </div>

                <div class="ui-grid-row">
                        Graph Type:
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Type <input type="text" />
                    </div>
                <div class="ui-grid-col-4">
                    <img 
                        src="../assets/StackedBar.png" 
                        alt="Stacked Bar" 
                        style="width:60px;height:45px;"
                        >
                </div>
                </div>

                <div class="ui-grid-row">
                        Graph Identification and Description:
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Code <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Name <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Title <input type="text" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Description <input type="text" />
                    </div>
                </div>
                
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Widget behaviour & treatment:
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Exprt Type <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        IsLocked <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Password <input type="text" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Hypr Tab <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Hypr Widget <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Liked By me
                    </div>
                    <div class="ui-grid-col-4">
                        Liked others
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Refr. Freq <input type="text" />
                    </div>
                    <div class="ui-grid-col-4">
                        Refr. Mode <input type="text" />
                    </div>
                </div>




                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Header *:
                    </div>
                    <div class="ui-grid-col-8">
                        <input pInputText 
                            type="text" 
                            formControlName="commentheader" 
                            placeholder="Required"
                            autofocus
                            autocomplete="on"/>
                    </div>
                </div>
                    <div class="ui-grid-col-4"></div>
                    <div class="ui-grid-col-10">
                        <div class="ui-message 
                                    ui-messages-error 
                                    ui-corner-all" 
                                    *ngIf="!userform.controls['commentheader'].valid
                                        &&  userform.controls['commentheader'].dirty">
                            <i class="fa fa-close"></i>
                            <span *ngIf="userform.controls['commentheader'].errors['required']">
                                Header is required
                            </span>
                        </div>
                    </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Comment Body :
                    </div>
                    <div class="ui-grid-col-8">
                        <input pInputText 
                            type="text" 
                            formControlName="commentbody" 
                            placeholder="Optional body"/>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <button 
                            pButton 
                            type="button" 
                            label="Cancel" 
                            icon="fa-undo"
                            pTooltip="Cancel adding a new comment" 
                            tooltipPosition="right" 
                            tooltipEvent="hover"
                            (click)="cancel()"
                            >
                        </button>
                    </div>
                    <div class="ui-grid-col-4"></div>
                    <div class="ui-grid-col-4">
                        <button 
                            pButton 
                            type="submit" 
                            label="Submit" 
                            icon="fa-check"
                            pTooltip="Submit the input: please verify its correct!" 
                            tooltipPosition="right" 
                            tooltipEvent="hover"
                            [disabled]="!userform.valid"
                            >
                        </button>
                    </div>
                </div>
            </div>   
        </form> 
    </div>
</div>              <!--END Form to add a new Comment-->

<!--Panel with Comments-->
<div  
    *ngIf="!addingNew"
    >
    <div
        *ngFor="let w of widgetComments"
        >

        <p-panel
            class="panel"
            [toggleable]="true"
            [collapsed]="true"
            header={{w.widgetCommentCreatorUserID}},{{w.widgetCommentCreateDateTime}}--{{w.widgetCommentHeading}}
            [style]="{
                        'margin':'0',
                        'padding':'0'
                    }"
            >
            {{ w.widgetCommentBody }}
            
        </p-panel>
    </div>
</div>              <!--END Panel with Comments-->


