.IdentificationExplanations {
        background-color: #e6e6e6;
        color: #0d0d0d;
        height: 210px;
        padding: 5px;
        position: absolute;
        top: 80px;
        right: 28px;
        width: 232px;
}

.GraphExplanations {
        background-color: #e6e6e6;
        color: #0d0d0d;
        height: 210px;
        padding: 5px;
        position: absolute;
        top: 80px;
        right: 28px;
        width: 232px;
}

form {
    width: 900px;
}

.iserror {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 0;
    padding: 0;
}
